{% extends "base.html" %}
{% load i18n static %}

{% block content %}


{% if form.errors and not form.non_field_errors %}
<p class="errornote">
    {% if form.errors.items|length == 1 %}
    {% translate "Please correct the error below." %}
    {% else %}
    {% translate "Please correct the errors below." %}
    {% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<main class="d-flex w-100 h-100 p-3 flex-column align-items-center justify-content-center">

    <h1>Login</h1>
    <hr class="w-25 text-dark">
   {% if user.is_authenticated %}
    <p class="errornote">
        {% blocktranslate trimmed %}
        You are authenticated as {{ username }}, but are not authorized to
        access this page. Would you like to login to a different account?
        {% endblocktranslate %}
    </p>
    {% endif %}
    <form class="col-lg-3 p-5 border border-1 bg-light" action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-floating mb-4">
            {{ field }}
            {{ field.label_tag }}
            {% if field.help_text %}
            <small>{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        <input type="hidden" name="next" value="{{ next }}">

        {% url 'admin_password_reset' as password_reset_url %}

        <div class="mb-3 password-reset-link">
            <a href="/account/password-reset">I forgot my password</a>
        </div>
        <div class="mb-3 password-reset-link">
            <a href="/signup">Not registered? Click here!</a>
        </div>

        <input class="btn btn-primary" type="submit" value="{% translate 'Log in' %}">
    </form>

</main>
{% endblock %}
