{% extends "base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}

<main class="d-flex w-100 h-100 p-3 flex-column align-items-center">
    <h2>Reset Password</h2>
    <hr class="w-25 text-dark">

    <h3>Enter your new password</h3>
    <form class="authForm p-5" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password
        </button>
    </form>
</main>


{% endblock %}