{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<main class="d-flex w-100 h-100 p-3 flex-column align-items-center">
    <h1>Profile</h1>
    <hr class="w-25 text-dark">
    <form class="authForm p-5 mb-5" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-floating mb-4">
            {{ field }}
            {{ field.label_tag }}
            {% if field.help_text %}
            <small>{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <small><a href="/account/change-password/">I want to change my password</a></small><br>
        <input class="mt-2 btn btn-primary" type="submit" value="Update">
    </form>

    <h1>My company domains</h1>
    <hr class="w-25 text-dark">
    <section class="authForm p-5 mb-5">
        <p class="lead mb-5">
            <a href="domains/add" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">
                Add a company domain
            </a>
        </p>
        <div class="d-flex">
            {% if domain_list %}
                <table class="table table-light table-bordered table-striped">
                    <tr>
                        <th>Domain</th>
                        <th>IP Address</th>
                        <th></th>
                    </tr>
                {% for domain in domain_list %}
                    <tr>
                        <td>{{ domain.domain }}</td>
                        <td>{{ domain.ip_address }}</td>
                        <td><a href="domains/{{ domain.domain }}/remove">Remove</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No domain registered</p>
            {% endif %}
        </div>
    </section>

    <h1>My company mail domains</h1>
    <hr class="w-25 text-dark">
    <section id="company-mail" class="authForm p-5">
        <p class="lead mb-5">
            <a href="mail-domains/add" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">
                Add a mail domain
            </a>
        </p>
        <div class="d-flex">
            {% if mail_domain_list %}
                <table class="table table-light table-bordered table-striped">
                    <tr>
                        <th>Domain</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                {% for domain in mail_domain_list %}
                    <tr>
                        <td>{{ domain.domain }}</td>
                        {% if not domain.dmarcrecord %}
                            <td><a href="/infra-testing/dmarc-generator/?{{ domain }}">Generate DMARC record</a></td>
                        {% else %}
                            <td><a href="/infra-testing/dmarc-generator/?{{ domain }}">View DMARC record</a></td>
                        {% endif %}
                        <td>
                            {% if domain.dmarcrecord.dmarcreport_set.last %}
                                <a href="/infra-testing/dmarc-reporter/{{ domain }}
                                    /{{ domain.dmarcrecord.dmarcreport_set.last.mail_from }}
                                    /{{ domain.dmarcrecord.dmarcreport_set.last.timestamp }}">
                                    Latest report
                                </a>
                            {% else %}
                                No report available
                            {% endif %}
                        </td>
                        <td><a href="mail-domains/{{ domain.domain }}/remove">Remove</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No domain registered</p>
            {% endif %}
        </div>
    </section>

</main>


{% endblock %}
