{% extends "base.html" %}

{% block title %}Authentication{% endblock %}

{% block content %}

<main class="container">
  <div class="d-flex justify-content-center py-5">

    <div class="col-lg-10 box-shadow primary-fadded-blue_border rounded-box-20 p-5">
      <h1 class="font-weight-800 text-blue-gradient mb-3">Signup</h1>
      <hr class="w-25 text-dark">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating mb-4">
          {{ field }}
          {{ field.label_tag }}
          {% if field.help_text %}
          <small>{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
        {% endfor %}
        <input class="button-text-background border-radius-50 text-white primary-primary-blue_background" type="submit" value="Sign Up">

      </form>
    </div>
  </div>
</main>


{% endblock %}
