{% extends "base.html" %}

{% block title %}Subscription plans{% endblock %}

{% block content %}
    <main class="d-flex w-100 h-100 p-3 flex-column align-items-center">
        <h1 class="mb-5">Our subscription plans</h1>
        <p class="lead mb-5">
            To register a domain and start scheduling automated tests, no have to choose one of our two different
            product packages, detailed below.
        </p>
        <a href="request/" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white mb-5">
                Request subscription
        </a>

        {% include 'subscriptions.html' %}

    </main>

{% endblock %}