{% extends "base.html" %}

{% block title %}Subscription plans{% endblock %}

{% block content %}
    <main class="d-flex w-100 h-100 p-3 flex-column align-items-center">
        <h1 class="mb-5">Our subscription plans</h1>
        <p class="lead mb-5">
            We shall put a description text of all the different items in the packages.
            Check old tp for potential content.
        </p>

        {% include 'subscriptions.html' %}

        <a href="request/" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">
                Request subscription
        </a>
    </main>

{% endblock %}