{% block content %}
    <main class="bg-light d-flex w-100 h-100 p-3 flex-column align-items-center text-center">
        <h3>Subscription plans detail</h3>
        <hr class="w-25 text-dark">
        <section class="container">
            <div class="p-5">
                <table class="table table-light table-striped">
                    <tr style="margin-top: 5px;">
                        <td>&nbsp;</td>
                        <td>BASIC<br>free of charge<br><br></td>
                        <td>PRO<br>20€ / month<br><br></td>
                        <td>BUSINESS<br>30€ / month<br><br></td>
                    </tr>
                    <tr style="margin-top: 5px;">
                        <td>Specialized tests*<br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                    </tr>
                    <tr style="margin-top: 5px;">
                        <td>Webserver Test<br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                    </tr>
                    <tr style="margin-top: 5px;">
                        <td>DMARC Statistics<br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                    </tr>
                    <tr style="margin-top: 5px;">
                        <td>Automated testing<br><br></td>
                        <td><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                    </tr>
                    <tr style="margin-top: 5px;">
                        <td>Multi-Domain support<br><br></td>
                        <td><br><br></td>
                        <td><br><br></td>
                        <td><i class="bi bi-check-circle-fill"></i><br><br></td>
                    </tr>
                </table>
                <small>*: The specialized tests are offered by our partners and thus are subjected to a pay per use
                    system. More info in the dedicated section <a href="/specialized-testing">here</a>.
                </small>
            </div>
        </section>
    </main>
{% endblock %}
