{% extends "base.html" %}


{% block content %}
<section class="w-100 h-100 d-flex justify-content-center flex-wrap">
    <div class="dashboardSectionBox"><h1>IoT Testing</h1></div>
    <div class="dashboardBox">
        <a href="iot-inspector/">
            <div class="dashboardBoxPreview">
                IoT Testing
            </div>
            <div class="dashboardBoxDescription">
                What is commonly known as the Internet of Things, also referred to as IoT, is made of all the
                connected objects we are using knowingly, or often unknowingly, in our daily operations. It starts with
                connected sensors that are being added to existing industrial machines, and goes up to the network attached
                printer that can be remotely monitored and maintained by the maker. Medical gear, cars, building security
                systems, all these connected devices are IoTs.
            </div>
        </a>
    </div>
</section>

{% endblock %}
