{% extends "base.html" %}
{% block content %}

<main class="d-flex w-100 h-100 p-3 flex-column align-items-center">
    <div class="authForm p-5">
        <h3 class="mb-4">Contact us directly if you have any questions or suggestions regarding the Testing Platform</h3>
        <p>
            Please use the contact form below if you have any questions, or feedback on
            the testing platform itself (i.e. bugs, unexpected behavior, availability issues...).
            We will be happy to contact you back and answer your questions as soon as possible.
        </p>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</main>
{% endblock %}