ansicon==1.89.0 ; python_version >= "3.8" and python_version < "4" and platform_system == "Windows"
anyio==3.6.2 ; python_version >= "3.8" and python_version < "4.0"
arrow==1.2.3 ; python_version >= "3.8" and python_version < "4"
asgiref==3.6.0 ; python_version >= "3.8" and python_version < "4.0"
authlib==0.15.6 ; python_version >= "3.8" and python_version < "4.0"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
blessed==1.20.0 ; python_version >= "3.8" and python_version < "4"
certifi==2022.12.7 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_version >= "3.8" and python_version < "4.0"
checkdmarc==4.6.0 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
croniter==1.0.15 ; python_version >= "3.8" and python_version < "4.0"
cryptography==40.0.2 ; python_version >= "3.8" and python_version < "4.0"
dj-database-url==0.5.0 ; python_version >= "3.8" and python_version < "4.0"
django-bootstrap5==22.2 ; python_version >= "3.8" and python_version < "4.0"
django-enumfields==2.1.1 ; python_version >= "3.8" and python_version < "4.0"
django-icons==22.1 ; python_version >= "3.8" and python_version < "4.0"
django-picklefield==3.1 ; python_version >= "3.8" and python_version < "4"
django-q==1.3.9 ; python_version >= "3.8" and python_version < "4"
django-widget-tweaks==1.4.12 ; python_version >= "3.8" and python_version < "4.0"
django==4.2.1 ; python_version >= "3.8" and python_version < "4.0"
dnspython==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
expiringdict==1.2.2 ; python_version >= "3.8" and python_version < "4.0"
graphql-core==3.2.3 ; python_version >= "3.8" and python_version < "4"
h11==0.12.0 ; python_version >= "3.8" and python_version < "4.0"
httpcore==0.15.0 ; python_version >= "3.8" and python_version < "4.0"
httpx==0.23.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4.0"
imap-tools==0.57.0 ; python_version >= "3.8" and python_version < "4.0"
importlib-resources==5.12.0 ; python_version >= "3.8" and python_version < "4.0"
ipwhois==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
jinxed==1.2.0 ; python_version >= "3.8" and python_version < "4" and platform_system == "Windows"
junit-xml==1.9 ; python_version >= "3.8" and python_version < "4.0"
onekey-client==2.1.1 ; python_version >= "3.8" and python_version < "4.0"
psutil==5.9.5 ; python_version >= "3.8" and python_version < "4.0"
publicsuffixlist==0.10.0.20230506 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0"
pydantic==1.8.2 ; python_version >= "3.8" and python_version < "4.0"
pyjwt==2.4.0 ; python_version >= "3.8" and python_version < "4.0"
pyleri==1.4.2 ; python_version >= "3.8" and python_version < "4.0"
pypandora==1.4.0 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
python-decouple==3.8 ; python_version >= "3.8" and python_version < "4.0"
redis==3.5.3 ; python_version >= "3.8" and python_version < "4"
requests==2.29.0 ; python_version >= "3.8" and python_version < "4.0"
rfc3986[idna2008]==1.5.0 ; python_version >= "3.8" and python_version < "4.0"
sgqlc==14.1 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4"
sniffio==1.3.0 ; python_version >= "3.8" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.8" and python_version < "4.0"
timeout-decorator==0.5.0 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.8" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
urllib3==1.26.15 ; python_version >= "3.8" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.8" and python_version < "4"
xmltodict==0.13.0 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.8" and python_version < "3.10"
