beautifulsoup4
blake2signer
cryptography
defusedxml
django
django-bootstrap5
django-cors-headers
django-enumfields
django-extensions
django-icons
django-picklefield
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
dnspython
drf-spectacular
drf-spectacular-sidecar
ipwhois
matplotlib
pillow
psycopg2
pycryptodome
pylookyloo
pypandora
python-decouple
python3-nmap
pyvulnerabilitylookup
redis
weasyprint
