django
django-bootstrap5
django-cors-headers
django-enumfields
django-extensions
django-icons
django-picklefield
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
python-decouple
redis
weasyprint
pylookyloo
pillow
ipwhois
dnspython
pypandora
pyvulnerabilitylookup
defusedxml
matplotlib
beautifulsoup4
python3-nmap
pycryptodome
cryptography
blake2signer
