<main class="row p-3 flex-column align-items-center">
  <h1 class="text-center">Dashboard</h1>
  <div class="col-lg-10 border border-2 rounded p-4 fs-4 my-4">
    <p> The NC3 Testing Platform proposes a series of simple, quick tests to help your
      organization assess the initial security posture of your organization's websites,
      e-mail systems, and external infrastructure.<br> These tests are conducted in a
      discovery mode without any attempt to exploit potential weakness found.</p>
  </div>
  <div class="row border border-2 rounded p-4 fs-4 d-flex justify-content-between ">
    <div class=" bg-gray mb-4">
      <h2 class="fs-2">Tools</h2>
    </div>
    <a href="/infra-testing/http-test/" class="bg-light mb-3 dashboard-selection text-decoration-none col-lg-5 border border-2 rounded pt-5 pb-5 text-center text-dark">
      <i class="bi bi-globe fs-1"></i><br>
      <b>Web Application Testing</b>
    </a>
    <a href="/infra-testing/email-test" class="bg-light mb-3 dashboard-selection text-decoration-none col-lg-5 border border-2 rounded pt-5 pb-5 text-center text-dark">
      <i class="bi bi-envelope-fill fs-1"></i><br>
      <b>E-Mail Systems Testing</b>
    </a>
    <a href="/infra-testing/web-server-test" class="bg-light mb-3 dashboard-selection text-decoration-none col-lg-5 border border-2 rounded pt-5 pb-5 text-center text-dark">
      <i class="bi bi-server fs-1"></i><br>
      <b>Infrastructure Testing</b>
    </a>
    <a href="/infra-testing/dmarc-generator" class="bg-light mb-3 dashboard-selection text-decoration-none col-lg-5 border border-2 rounded pt-5 pb-5 text-center text-dark" >
      <i class="bi bi-gear-fill fs-1"></i><br>
        <b>DMARC Record Generator</b>
    </a>
    <a href="/infra-testing/spf-generator" class="bg-light mb-3 dashboard-selection text-decoration-none col-lg-5 border border-2 rounded pt-5 pb-5 text-center text-dark">
      <i class="bi bi-gear-fill fs-1"></i><br>
      <b>SPF Record Generator</b>
    </a>
  </div>
</main>
