<section class="w-100 h-100 d-flex justify-content-center flex-wrap">
    <div class="dashboardSectionBox"><h1>Testing</h1></div>
    <div class="dashboardBox">
        <a href="/infra-testing">
            <div class="dashboardBoxPreview">
                Infrastructure testing toolbox
            </div>
            <div class="dashboardBoxDescription">
                Here you can find all of our infra testing tools. Some of those tools, namely the automated scans
                offering report generation, will only be available if you choose to subscribe to our paid services.
                You can check our subscription plans at the bottom of this page.
            </div>
        </a>
    </div>
    <div class="dashboardBox">
        <a href="/specialized-testing/">
            <div class="dashboardBoxPreview">
                Specialized Testing
            </div>
            <div class="dashboardBoxDescription">
                This section offers tests that target specific systems and devices. Currently, we offer IoT firmware
                scanning. Click to learn more.
            </div>
        </a>
    </div>
        <div class="dashboardBox">
            <a href="/c3-protocols/">
                <div class="dashboardBoxPreview">
                    C3 Protocols
                </div>
                <div class="dashboardBoxDescription">
                    This initiative was inspired by Start-Ups and SMB's with whom we interact daily. While trying to
                    understand why they are not engaged more systematically into Penetration Testing, the answer that came
                    back most of the time was « Cost ». Click to read further.
                </div>
            </a>
    </div>
    <hr class="w-25 text-dark">
    <div class="dashboardBox">
        <a href="/accounts/settings/subscriptions/">
            <div class="dashboardBoxPreview">
                Subscriptions
            </div>
            <div class="dashboardBoxDescription">
                These subscription offers give you the ability to <b>automate</b> your tests: you can chose a frequency
                and a time to have your tests scheduled, giving you control over how and when you want your systems
                tested.
                <br>
                <b>Learn more about our different subscription plans!</b>
            </div>
        </a>
    </div>
</section>