<main class="bg-light d-flex w-100 h-100 p-3 flex-column align-items-center text-center">
    <h1>C3's Testing Platform</h1>
    <p class="lead">Here should be a very short description on what the Testing Platform is.</p>
    <p class="lead">Which should be three to
        four sentences long. Otherwise, it might look to small.</p>
    <p class="lead">
        <a href="/accounts/signup" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">Register now!</a>
    </p>
</main>

<section class="container">
    <div class="mt-5">
        <h3>Welcome on the C3 Testing Platform!</h3>
        <div class="mb-5">
            <h4>Why such a platform?</h4>
            <p>
                When implementing a security strategy, one of the core issues is to identify priorities. Budgets are not
                infinite.
                Choices have to be made. A fair amount of guidance can be drawn from the traditional risk assessment
                exercises,
                but
                this often leads to abstract decision-making. In particular, how to identify security issues that
                require
                immediate
                investment. The goal of the C3 Testing Platform is to make it possible to uncover actual security issues
                in
                a
                practical way. It doesn’t intend to be comprehensive, but aim at helping to reduce the surface of
                exposure
                by
                identifying commonly exploited issues.
            </p>
        </div>
        <div class="mb-5">
            <h4>What is the C3 Testing Platform?</h4>
            <p>It’s a set of tools that allow any organisation to start testing its systems in order to identify known
                weaknesses
                or vulnerabilities. Some of these tools will require working with security companies of the Luxembourg
                Cybersecurity
                Ecosystem and who agreed to partner with the C3. Other tools are semi-automated and operated directly by
                the
                C3.<br>
                - The first set of tools is the C3 Testing Protocols. These are standard test protocols that will allow
                organisations to benefit from targeted manual testing conducted by security companies, in a foreseeable
                time
                and
                budget frame. This should permit engaging in a process that will ultimately lead to full-scale
                penetration
                testing,
                but in a way that does take into account budget and resources (time and employees) constraints. It is
                particularly
                targeted at SME's and self-employed individuals.<br>
                - The second set of tools is a semi-automated platform that will allow organisations based in Luxembourg
                to
                perform
                easily basic scans of critical parts of their infrastructure. While the manual ones are for free, there
                are
                possibilities to get more automated and broadened assessments as paid-for services.<br>
                - The last set of tools is dedicated to focused tests on specific categories of systems. The first
                domain
                covered is
                IoT testing, given the high level of exposure that they generate.
            </p>
        </div>

        <div class="mb-5">
            <h4>Who can benefit from the Testing Platform?</h4>
            <p>
                You have to be an organisation based in Luxembourg in order to access the Testing Platform. If you wish
                to
                register, you can follow You'll fill a simple form and then
                be able to chose which services you want to benefit from. Unless you register for a Pro or Business
                membership through your profile page, some services won't be accessible.
            </p>
        </div>
    </div>
</section>
