{% extends "base.html" %}
{% block content %}

<section class="container mt-2">
    <h1>The C3 Protocols</h1>
    <p>This initiative was inspired by Start-Ups and SMB's with whom we interact daily. While trying to understand why
        they
        are not engaged more systematically into Penetration Testing, the answer that came back most of the time was «
        Cost
        ».</p>
    <p>It costs too much in money, people and resources :</p>
    <p>Money : it’s obvious! Having a senior specialist engaged for several days of work is all but cheap. This may
        represent most of the annual security budget of a small business and therefore be unrealistic as it would impact
        all
        other security initiatives</p>
    <p>People : Small organisations will have to mobilize several days of their limited technically savvy people in
        order
        to help prepare, conduct and most importantly learn from the « PenTest ». This is not realistically feasible in
        a
        2-3 persons organisation without stopping a significant volume of daily operations, which adds to the economic
        cost.</p>
    <p>Resources : Time as suggested before, but also the IT infrastructure of the organisation. The latter is often
        very
        limited in size and fully used for operations. It means that operational activities will have to be either
        temporarily suspended, or be executed in degraded mode, and this for several days. That’s neither an acceptable
        situation.</p>
    C3’s proposal is to work on Tests that would be conducted with a strictly predefined need for resources.
    <ul>
        <li>Fixed budget</li>
        <li>Fixed duration</li>
        <li>Fixed scope</li>
    </ul>


    <p>
        Obviously it doesn't cover as much as a real Penetration Test. However, it allows companies to bootstrap the
        testing
        activity by covering a significant proportion of their « window of exposure" and identify some of their most
        easily
        exploitable vulnerabilities.
        We partnered with a group of local security companies, and all of them will follow the C3 Protocol you selected
        depending on your objective. You’ll be offered contacts with them as you register for a test.
    </p>

</section>

{% endblock %}
