{% extends "base.html" %}

{% block content %}
<main>
  <div class="container d-flex justify-content-center py-5">
    <div class="w-75 box-shadow primary-fadded-blue_border rounded-box-20 p-5">
      <h3 class="card-title">Infrastructure</h3>
      <p>
      </p>
      <form method="post">
        {% csrf_token %}
        {% if error %}
        <span class="text-danger">{{ error }}</span>
        {% endif %}
        <div class="mb-3">
          <label class="mb-1">
            Enter your email domain name / ip address:
          </label>
          <input class="form-control" type="text" placeholder="domain.lu"
                 id="target" name="target"
                 value="{{ form }}" required>
        </div>
        <input type="submit" value="Test"
               class="text-white button-text-background primary-primary-blue_background">
      </form>
      <div class="bg-white text-center text-muted border-top pt-3"><a
        class="text-primary-primary-blue" href="/kb/#web-server">About the test</a>
      </div>
    </div>
  </div>
  {% if services %}
   <div class="gx-0 row d-flex justify-content-center py-5">
<section class="container-extended box-shadow primary-fadded-blue_border border-top-radius-only p-5">
    <div class="col-lg-12 fs-1 fw-bold">
      Services
    </div>
    <div class="col-lg-6 mb-2 text-left fs-5">
      <p>Listing of all the services found running on your server.</p>
      <p>Check out the <a href="#general-recommendations-webconf">general
        recommendations</a>
        below for more details.</p>
      <br>
      {% if services %}
      <table class="table table-light table-bordered table-striped">
        <tr>
          <th>Name</th>
          <th>Product</th>
          <th>Version</th>
        </tr>
        {% for service in services %}
        <tr>
          <td>{{ service.name }}</td>
          <td>{{ service.product }}</td>
          <td>
            {% if service.version %}
            {{ service.version }}
            {% else %}
            Not found
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>

  </section>
   </div>
  {% endif %}
    {% if vulnerabilities %}
   <div class="gx-0 row d-flex justify-content-center py-5">
<section class="container-extended box-shadow primary-fadded-blue_border border-top-radius-only p-5">
    <div class="col-lg-12 fs-1 fw-bold">
      Vulnerabilities
    </div>
    <div class="col-lg-12 mb-2 text-left fs-5 " id="vulnerabilities">
      <ul>
        <li>
          Listing of all the potential vulnerabilities found on your system,
          per software, when applicable.
        </li>
        <li>Click on the <i class="bi bi-search"></i> icon for more details.</li>
        <li>
          Check out the <a href="#general-recommendations-infra">general
          recommendations</a>
          below for more details.
        </li>
      </ul>
      <div class="row my-2" id="general-recommendations-infra">
      <button type="button" data-bs-toggle="collapse"
              data-bs-target="#referrer-policy"
              aria-expanded="false" aria-controls="collapseExample"
              class="btn p-3 fs-2 fw-bold text-start text-light bg-info">
        <i
          class="p-2 rounded-circle bi bi-chevron-right bg-white me-3 text-black"></i>
        General recommendations
      </button>
      <div class="p-0 collapse" id="referrer-policy">
        <div class=" p-3 border-bottom border-end border-start">
          <p>
            Generally speaking, make sure all of your software is up-to-date.
            Most of the time, results show that a service may be exploited when the
            software behind it is outdated.
          </p>
          <h4>Why is my software version not showed, and what should I do?</h4>
          This information was not found, as it is not visible either in your server's
          HTTP headers or any of the publicly available data from your server.
          Possible course of actions:
          <ul>
            <li>
              Best practice is to find documentation for the service, and follow the
              instructions to find what version is running on your system.
            </li>
            <li>
              If your infrastructure is administered by third party, please contact
              them
              to inquire about possible updates to be made on your systems.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <br>
      {% for vulnerability in vulnerabilities %}
        <h3>{{ vulnerability.service }}</h3>
        {% if vulnerability.vuln_list %}
          <div class="table-responsive">
            <table class="table table-light table-bordered table-striped">
              <tr>
                <th>ID</th>
                <th>CVSS</th>
                <th>Type</th>
                <th>External link</th>
              </tr>
              {% for vuln in vulnerability.vuln_list %}
                <tr>
                  <td>{{ vuln.id }}</td>
                  <td>{{ vuln.cvss }}</td>
                  <td>{{ vuln.type }}</td>
                  <td>
                    {% if vuln.link %}
                      <a href="https://vulners.com/{{ vuln.type }}/{{ vuln.id }}"
                         target="_blank">
                        <i class="bi bi-search"></i>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p>No vulnerabilities found for this service.</p>
        {% endif %}
      {% endfor %}

    </div>


   </div>
  </section>
</div>
  {% endif %}
  <script>
    function openPopup(id){
      let popup = document.getElementById(id);
      popup.classList.add("open-popup");
    }
    function hidePopup(id){
      let popup = document.getElementById(id);
      popup.classList.remove("open-popup");
    }


  </script>
  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }


  </script>
</main>
{% endblock %}
