{% extends "base.html" %}

{% block content %}

<main class="row p-3 flex-column align-items-center">
  <div class="col-lg-8 col-md-8 mb-2">
      <div class="h-100 card border border-2 ">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Website Scanner</h3>
          <p>
            The website testing assesses the security of your website against known
            vulnerabilities, then provides you recommendations to resolve each security
            weakness identified
          </p>
          <form method="post">
            {% csrf_token %}
            {% if error %}
            <span class="text-danger">{{ error }}</span>
            {% endif %}
            <div class="mb-3">
              <label class="mb-1">
                Enter your websites domain name:
              </label>
              <input class="form-control" type="text" placeholder="www.domain.lu"
                     id="target" name="target"
                     value="{{ form }}" required>
            </div>
            <input type="submit" value="Test" class="btn btn-secondary">
          </form>
        </div>
          <div class="card-footer text-center text-muted">
            <!-- TODO change href --><a
          href="{% url 'knowledge_base'  %}#tests-email">About the test</a></div>
      </div>
    </div>
</main>
<main class="container-fluid d-flex flex-column align-items-center">
  {% include "web_report.html" %}
</main>
<br>
{% endblock %}
