{% extends "base.html" %}
{% load tags %}
{% load static %}
{% block content %}
<section class="blue-gradient_background p-4 text-white">
  <div class="container my-5">
    <div class="mb-5">
      <div class="d-flex align-items-center" style="gap: 1.944em">
        <hr class="hr-h-width bg-white">
        <h3>E-Mail Security Assessment</h3>
      </div>
      <h1 class="font-size-48 font-weight-800 lh-base">Assess the security of your email setup (SPF and DMARC DNS records, DNSSEC deployment, etc.)!</h1>
    </div>
    <div>
      <p>
        Evaluate the robustness of your email domain's security configuration.
        This test analyzes critical email authentication protocols and DNS security measures,
        including SPF (Sender Policy Framework), DMARC (Domain-based Message Authentication, Reporting, and Conformance),
        and DNSSEC (Domain Name System Security Extensions). Identify vulnerabilities, ensure proper implementation of security standards,
        and receive recommendations to enhance your email infrastructure's protection against spoofing, phishing, and other common
        email-based threats.</p>
    </div>
  </div>
</section>
<script>
  let countGood = 0;
  let countBad = 0;
  let countWarning = 0;
  let countTotal = 0;
</script>

<main>
  <div class="container d-flex justify-content-center py-5">
    <div class="w-75 box-shadow primary-fadded-blue_border rounded-box-20 p-5">

      <form method="post">
        {% csrf_token %}
        {% if error %}
        <span class="text-danger">{{ error }}</span>
        {% endif %}
        <div class="mb-3">
          <label class="mb-1">
            Enter your email domain name:
          </label>
          <input class="form-control" type="text" placeholder="domain.lu"
                 id="target" name="target"
                 value="{{ domain }}" required>
        </div>
        <input type="submit" value="Test"
               class="text-white button-text-background primary-primary-blue_background">
      </form>
      {% if domain %}
      <div class="d-flex justify-content-center pb-3 pt-3">
        <a href="{% url 'pdf_from_template' test='email-test' site=domain %}" value="Export to pdf" class="btn btn-secondary">Export this to PDF</a>
      </div>
      {% endif %}
      <div class="bg-white text-center text-muted border-top pt-3"><a
          class="text-primary-primary-blue" href="/kb/#tests-email">About the test</a>
      </div>
    </div>
  </div>

  {% if domain %}
  <div class="gx-0 row d-flex justify-content-center py-5">
    <section class="container-extended box-shadow primary-fadded-blue_border border-top-radius-only p-5">
      <h1 class="text-center">Overview of {{ domain }}</h1>
      <div class="row justify-content-evenly mb-5">
        <div class="col-lg-3 d-flex align-items-center">
          <canvas id="chart1"></canvas>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-7">
          <div class="row my-1">
            <div class="col-lg-12 fs-4">
              {% if spf.valid %}
              <script> countGood++; countTotal++;</script>
              <i class="bi bi-check-circle-fill color-success"></i>
              {% else %}
              <script>countBad++;countTotal++;</script>
              <i class="bi bi-x-circle-fill color-danger"></i>
              {% endif %}
              SPF record
            </div>
            <div class="col-lg-12 fs-4">
              {% if dmarc.valid %}
              <script> countGood++;countTotal++;</script>
              <i class="bi bi-check-circle-fill color-success"></i>
              {% else %}
              <script>countBad++;countTotal++;</script>
              <i class="bi bi-x-circle-fill color-danger"></i>
              {% endif %}
              DMARC Record
            </div>
            <div class="col-lg-12 fs-4">
              {% if dnssec %}
              <script> countGood++;countTotal++;</script>
              <i class="bi bi-check-circle-fill color-success"></i>
              {% else %}
              <script>countBad++;countTotal++;</script>
              <i class="bi bi-x-circle-fill color-danger"></i>
              {% endif %}
              Signed Domain Name (DNSSEC)
            </div>
            <!--<div class="col-lg-12 fs-4">
{% if dkim_valid %}
<script> countGood++;countTotal++;</script>
<i class="bi bi-check-circle-fill color-success"></i>
{% elif dkim is None %}
<script> countWarning++;countTotal++;</script>
<i class="bi bi-x-circle-fill text-warning"></i>
{% else %}
<script>countBad++;countTotal++;</script>
<i class="bi bi-x-circle-fill color-danger"></i>
{% endif %}
DKIM Record
            </div>-->
          </div>
        </div>
        <div class="col-lg-5">
          <h1>Vulnerability</h1>
          <div class="row mb-4">
            <div class="col-lg-6 col-md-8 fs-2 mb-1">Good</div>
            <div class="col-lg-6">
              <span id="good-count" class="circle fs-4 text-white bg-success"></span>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-lg-6 col-md-8 fs-2 mb-1">Vulnerable</div>
            <div class="col-lg-6">
              <span id="vulnerable-count" class="circle fs-4 text-white bg-danger"></span>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-lg-6 col-md-8 fs-2">Warning</div>
            <div class="col-lg-6 col-md-8">
              <span id="warning-count" class="circle fs-4 text-black" style="background:#f5e230 !important;"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="gx-0 row d-flex justify-content-center py-5">
    <section class="container-extended box-shadow primary-fadded-blue_border p-5">
      <div class="col-lg-12 fs-1 fw-bold">
        {% if spf.valid %}
        <i class="bi bi-check-circle-fill color-success"></i>
        {% else %}
        <i class="bi bi-x-circle-fill color-danger"></i>
        {% endif %}
        SPF Record
      </div>
      <div class="col-lg-12 fs-4">
        <p>The Sender Policy Framework (SPF) is an email validation protocol that helps detect and block email spoofing. Email spoofing is a common technique used in phishing and spam emails. SPF allows the receiving mail server to verify that incoming mail from a domain comes from a host authorized by that domain’s administrators. The list of authorized sending hosts for a domain is published in the Domain Name System (DNS) records.</p>
        <div class="row my-2">
          <button type="button" data-bs-toggle="collapse" data-bs-target="#records" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light blue-gradient-cta_background rte collapsed">
            <i id="collapse-icon" class="p-2 circle bi bi-chevron-right bg-white me-3 icon-flipped text-black"></i>
            Result
          </button>
          <div class="p-0 collapse" id="records">
            <div class="p-4 border-bottom border-end border-start">
              <h2>SPF Record</h2>
              <code>{{ spf.record }}</code>
              <p>Valid:
                {% if spf.valid %}
                <i class="bi bi-check-circle-fill color-success"></i>
                {% else %}
                <i class="bi bi-x-circle-fill color-danger"></i>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <button type="button" data-bs-toggle="collapse" data-bs-target="#spf_recommendation" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light primary-primary-blue_background">
            <i class="circle p-2 bi bi-chevron-right bg-white me-3 text-black"></i>
            Recommendations
          </button>
          <div class="p-0 collapse" id="spf_recommendation">
            <div class="p-4 border-bottom border-end border-start">
              <b>How to Create and Publish an SPF Record</b>

              <p>Follow these steps to create and publish an SPF record in your DNS settings for your domain:</p>

              <ul>
                <li>Identify the IP addresses of your legitimate email servers.</li>
                <li>Include these IP addresses in your SPF record to specify which email servers are authorized to send emails on behalf of your domain.</li>
                <li>Configure your SPF record with a "hard fail" mechanism <code>(-all)</code> to explicitly reject emails not originating from authorized servers.</li>
              </ul>

              <p>This ensures that only authorized servers can send emails using your domain name, helping to prevent unauthorized sources from doing so.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="gx-0 row d-flex justify-content-center py-5">
    <section class="container-extended box-shadow primary-fadded-blue_border p-5">
      <div class="col-lg-12 fs-1 fw-bold">
        {% if dmarc.valid %}
        <i class="bi bi-check-circle-fill color-success"></i>
        {% else %}
        <i class="bi bi-x-circle-fill color-danger"></i>
        {% endif %}
        DMARC Record
      </div>
      <div class="col-lg-12 fs-4">
        <p>DMARC (Domain-based Message Authentication, Reporting, and Conformance) is an email authentication protocol that provides additional protection against email spoofing and phishing attacks. It uses the Sender Policy Framework (SPF) and DomainKeys Identified Mail (DKIM) standards. DMARC enables a domain owner to specify how mail servers should handle messages from their domain that don’t pass SPF or DKIM checks. This adds an extra layer of security</p>
        <div class="row my-2">
          <button type="button" data-bs-toggle="collapse" data-bs-target="#d_record" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light blue-gradient-cta_background rte collapsed">
            <i id="collapse-icon" class="p-2 circle bi bi-chevron-right bg-white me-3 icon-flipped text-black"></i>
            Result
          </button>
          <div class="p-0 collapse" id="d_record">
            <div class="p-4 border-bottom border-end border-start">
              <h2>DMARC Record</h2>
              {% if dmarc.error %}
              <div class="alert alert-danger" role="alert">
                  {{ dmarc.error }}
              </div>
          {% else %}
              <div class="alert {% if dmarc.valid %}alert-success{% else %}alert-warning{% endif %}" role="alert">
                  <h4 class="alert-heading">
                      DMARC Record Status:
                      {% if dmarc.valid %}
                          <span class="text-success">Valid</span>
                      {% else %}
                          <span class="text-warning">Invalid</span>
                      {% endif %}
                  </h4>
              </div>

              {% if dmarc.record %}
                  <div class="alert alert-info" role="alert">
                      <h4 class="alert-heading">DMARC Record:</h4>
                      <pre><code>{{ dmarc.record }}</code></pre>
                  </div>

                  <h4>Record Details:</h4>
                 <ul class="list-group">
                            {% for item in dmarc.record|split:';' %}
                                {% with key_value=item|split:'=' %}
                                    {% if key_value|length == 2 %}
                                        <li class="list-group-item">
                                            <strong>{{ key_value.0 }}:</strong> {{ key_value.1 }}
                                        </li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
              {% endif %}
          {% endif %}

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- <div class="gx-0 row d-flex justify-content-center py-5">
<section class="container-extended box-shadow primary-fadded-blue_border p-5">
<div class="col-lg-12 fs-1 fw-bold">
{% if dkim_valid %}
<i class="bi bi-check-circle-fill color-success"> </i>
{% elif dkim is None %}
<i class="bi bi-x-circle-fill text-warning"></i>
{% else %}
<i class="bi bi-x-circle-fill color-danger"></i>
{% endif %}
DKIM Record
</div>
<div class="col-lg-12 fs-4">
<p>DomainKeys Identified Mail (DKIM) is an email authentication method that helps to verify the authenticity and integrity of email messages. It adds a digital signature to the email headers, which allows the receiving email server to verify that the email has not been tampered with during transit and that it was indeed sent by the claimed domain.</p>
<div class="row my-2">
{% if dkim_valid %}
<button type="button" data-bs-toggle="collapse" data-bs-target="#dkim_record" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light bg-success">
<i class="circle p-2 bi bi-chevron-right bg-white me-3 text-black"></i>
DKIM Record
</button>
{% elif dkim is None %}
<button type="button" data-bs-toggle="collapse" data-bs-target="#dkim_record" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light bg-warning">
<i class="circle p-2 bi bi-chevron-right bg-white me-3 text-black"></i>
DKIM Record
</button>
{% else %}
<button type="button" data-bs-toggle="collapse" data-bs-target="#dkim_record" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light bg-danger">
<i class="circle p-2 bi bi-chevron-right bg-white me-3 text-black"></i>
DKIM Record
</button>
{% endif %}
<div class="p-0 collapse" id="dkim_record">
<div class="p-4 border-bottom border-end border-start">
<h2>DKIM Record</h2>
{% if dkim %}
<p>DKIM public key found and can be used to encrypt data.</p>
{% else %}
<p>No suitable DKIM public key found.</p>
{% endif %}
</div>
</div>
</div>
<div class="row my-2">
<button type="button" data-bs-toggle="collapse" data-bs-target="#dkim_recommendation" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light bg-info">
<i class="circle p-2 bi bi-chevron-right bg-white me-3 text-black"></i>
Recommendations
</button>
<div class="p-0 collapse" id="dkim_recommendation">
<div class="p-4 border-bottom border-end border-start">
<p>Use a reliable DKIM key generator to create a pair of cryptographic keys - a private key for signing outgoing emails and a corresponding public key that will be published in your DNS records. Add the DKIM public key to your domain's DNS records as a TXT record. This allows receiving email servers to retrieve and verify the DKIM signature.</p>
</div>
</div>
</div>
</div>
</section>
  </div>-->

  <div class="gx-0 row d-flex justify-content-center py-5">
    <section class="container-extended box-shadow primary-fadded-blue_border p-5">
      <div class="col-lg-12 fs-1 fw-bold">
        {% if dnssec.enabled %}
        <i class="bi bi-check-circle-fill color-success"></i>
        {% else %}
        <i class="bi bi-x-circle-fill color-danger"></i>
        {% endif %}
        Signed Domain Name (DNSSEC)
      </div>
      <div class="col-lg-12 fs-4">
        <p>DNSSEC (Domain Name System Security Extensions) is a set of cryptographic protocols and security measures designed to enhance the security of the Domain Name System (DNS). By digitally signing DNS data, DNSSEC ensures data integrity and authenticity, protecting against various forms of DNS attacks like cache poisoning or DNS spoofing. It uses public key cryptography to verify the authenticity of DNS responses and provides a chain of trust from the root DNS servers down to the individual domain names, ensuring that the DNS information received by a user is valid and has not been tampered with during transmission.</p>
        <div class="row my-2">
          <button type="button" data-bs-toggle="collapse" data-bs-target="#dnssec" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light blue-gradient-cta_background rte collapsed">
            <i class="circle p-2 bi bi-chevron-right bg-white me-3 text-black"></i>
            Result
          </button>
          <div class="p-0 collapse" id="dnssec">
            <div class="p-4 border-bottom border-end border-start">
              <h2>DNSSEC Record</h2>
              {% if dnssec.error %}
                    <div class="alert alert-danger" role="alert">
                        {{ dnssec.error }}
                    </div>
                {% else %}
                    <div class="alert {% if dnssec.enabled %}alert-success{% else %}alert-warning{% endif %}" role="alert">
                        DNSSEC is {% if dnssec.enabled %}enabled{% else %}not enabled{% endif %}
                    </div>

                    {% if dnssec.keys %}
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">DNSSEC Keys:</h4>
                            <pre><code>{% for key in dnssec.keys %}{{ key }}{% if not forloop.last %}
{% endif %}{% endfor %}</code></pre>
                        </div>
                    {% endif %}
                {% endif %}

              <p>
                Enabled:
                {% if dnssec.enabled %}
                  <i class="bi bi-check-circle-fill color-success"></i>
                {% else %}
                  <i class="bi bi-x-circle-fill color-danger"></i>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#dnssec-recommendation" aria-expanded="false" aria-controls="collapseExample" class="accordion-button btn p-3 fs-2 fw-bold text-start text-light primary-primary-blue_background">
          <i class="circle p-2 bi bi-chevron-right bg-white me-3 text-black"></i>
          Recommendations
        </button>
        <div class="p-0 collapse" id="dnssec-recommendation">
          <div class="p-3 border-bottom border-end border-start table-responsive">
            <ul>
              <li><strong>Enable DNSSEC on Authoritative Name Servers:</strong> Ensure that your domain’s authoritative name servers support DNSSEC by enabling it in your DNS management tool or control panel. This typically involves generating and maintaining cryptographic key pairs (ZSK and KSK) and signing DNS records.</li>
              <li><strong>Regular Key Management:</strong> Implement a robust key management process, including regularly rotating your Zone Signing Key (ZSK) and, less frequently, your Key Signing Key (KSK). Use automated key rollovers whenever possible to reduce the risk of human error.</li>
              <li><strong>Monitor DNSSEC Status:</strong> Continuously monitor DNSSEC validation and resolution through tools like DNSViz or the BIND DNSSEC tools to ensure records are correctly signed and resolvable. This can help quickly identify and rectify any misconfigurations.</li>
              <li><strong>Use a DNSSEC-enabled Resolver:</strong> Ensure your DNS resolvers are DNSSEC-aware and validate signed records. This adds a layer of protection for users by verifying the authenticity of DNS data.</li>
              <li><strong>Plan for Emergency Key Rollovers:</strong> Prepare for emergency situations where a key might need to be revoked or replaced quickly, such as in case of a compromise. Implement a documented recovery procedure to minimize downtime.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!--<div class="gx-0 row d-flex justify-content-center py-5">
<section class="container-extended box-shadow primary-fadded-blue_border p-5">
<div class="col-lg-12 fs-1 fw-bold">
Mail Exchanger (MX) Records
</div>
<div class="col-lg-12 fs-4">
<ul>
{% for warning in mx.warnings %}
<li>{{ warning }}</li>
{% endfor %}
</ul>
{% for host in mx.servers %}
<h3>{{ host }}</h3>
<ul>
<li>TLS:
{% if mx.tls.host %}
<i class="bi bi-check-circle-fill color-success"></i>
{% else %}
<i class="bi bi-x-circle-fill color-danger"></i>
{% endif %}
</li>
</ul>
{% endfor %}
</div>
</section>
  </div>-->

  {% endif %}
</main>

<script src="{% static 'js/chartTest.js' %}"></script>
<script src="{% static 'js/collapsibleAnimation.js' %}"></script>
{% endblock %}
