{% extends "base.html" %}
{% block content %}
{% load timestamp_to_time %}
<main class="row p-3 flex-column align-items-center">
  <div class="col-lg-5 col-md-5 mb-2">
    <div class="h-100 card border border-2 ">
      <div class="card-body d-flex flex-column">
        <h1>DMARC Reporter</h1>
        {% if not domain_reports %}
        <div class="my-3">
          No reports available yet. Please use our DMARC record generator to start
          getting
          reports.
        </div>
        {% else %}
        {% for domain, reports in domain_reports.items %}

        <h3 class="mt-2">Reports for {{ domain.domain }}</h3>
        <hr>
        {% if not reports %}
        No report available yet
        {% else %}
        <table class="table table-light table-stripped table-responsive">
          {% for report in reports %}
          <tr>
            <th>{{ report.mail_from }}</th>
            <td>{{ report.timestamp|timestamp_to_time|date:"Y-m-d h:m:s" }}</td>
            <td><a class="btn btn-primary"
                   href="/infra-testing/dmarc-reporter/{{ domain }}/{{ report.mail_from }}/{{ report.timestamp }}">
              View report
            </a></td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}

        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
