{% extends "base.html" %}
{% block content %}
{% load timestamp_to_time %}

<main class="d-flex w-100 h-100 p-3 flex-column align-items-center">
    <div class="authForm p-5">
        <h1>DMARC Reporter</h1>
    </div>
    {% if not domain_reports %}
        <div class="authForm p-5">
            No reports available yet. Please use our DMARC record generator to start getting reports.
        </div>
    {% else %}
        {% for domain, reports in domain_reports.items %}
            <div class="authForm p-5">
                <h3>Reports for {{ domain.domain }}<br></h3>
                <hr>
                {% if not reports %}
                    No report available yet
                {% else %}
                    <table class="table table-light table-stripped table-responsive">
                        {% for report in reports %}
                            <tr>
                                <th>{{ report.mail_from }}</th>
                                <td>{{ report.timestamp|timestamp_to_time|date:"Y-m-d h:m:s" }}</td>
                                <td><a class="btn btn-primary"
                                       href="/test/dmarc-reporter/{{ domain }}/{{ report.mail_from }}/{{ report.timestamp }}">
                                    View report
                                </a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}