{% extends "base.html" %}
{% load i18n static %}

{% block content %}

{% if form.errors and not form.non_field_errors %}
<p class="errornote">
  {% if form.errors.items|length == 1 %}
  {% translate "Please correct the error below." %}
  {% else %}
  {% translate "Please correct the errors below." %}
  {% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
  {{ error }}
</p>
{% endfor %}
{% endif %}

<main class="d-flex w-100 h-100 p-3 flex-column align-items-center">
  <div class="col-lg-5 col-md-5 mb-2">
    <div class="h-100 card border border-2 ">
      <div class="card-body d-flex flex-column">
        <h3 class="card-title">DMARC Record Generator</h3>
        <p>
          The website testing assesses the security of your website against known
          vulnerabilities, then provides you recommendations to resolve each security
          weakness identified
        </p>
        <form method="post">
          {% csrf_token %}
          {% if error %}
          <span class="text-danger">{{ error }}</span>
          {% endif %}
          {% for field in form %}
          <div class=" mb-4">
            {% if field.name == 'spf_policy' %}
            Please choose how the Identifier Alignment should be handled (this specifies
            how strictly DKIM and SPF policies are evaluated)<br><br>
            SPF Alignment:
            {% elif field.name == 'dkim_policy' %}
            DKIM Alignment
            {% endif %}
            {% if field.help_text %}
            <small>{{ field.help_text }}</small>
            {% endif %}
            {{ field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
          {% endfor %}
          <input class="btn btn-primary" type="submit"
                 value="{% translate 'Generate' %}">
        </form>
      </div>
    </div>
  </div>

  {% if txt and record %}
  <section class="col-lg-11 row my-5 border border-2 rounded p-4">
    <h1>This is your below DMARC record generator</h1>
    <p>If you <b>do not</b> wish to see the DMARC reports on this platform change the
      e-mail in the DMARC record accordingly</p>
    <div id="result">
      Please add a TXT record to your domain with the following target / location /
      host:<br>
      <div class="bg-light p-2 text-dark mb-2">{{ txt }}</div>
      This is your DMARC record:<br>
      <div class="bg-light p-2 text-dark">{{ record }}</div>
    </div>
  </section>
  {% endif %}

</main>
{% endblock %}
