{% extends "base.html" %}

{% block content %}
<main class="d-flex w-100 h-100 p-3 flex-column align-items-center">

    <form action="" method="post" id="pingtest-form" class="authForm p-5">
        {% csrf_token %}
        <label for="ping-target">Ping Target:</label><br>
        <input type="text" id="ping-target" name="ping-target" value="{{ form }}"><br>
        <input type="submit" value="Ping" class="btn btn-primary">
    </form>
    {% if result %}
    <code class="w-50 mt-2 bg-dark p-3"><b>Result:</b><br><br>{{ result }}</code>
    {% endif %}
</main>
{% endblock %}