{% extends "base.html" %}


{% block content %}
<section class="w-100 h-100 d-flex justify-content-center flex-wrap">
    <div class="dashboardSectionBox"><h1>System checks</h1></div>
    <div class="w-75"><p class="lead">These tools let you check the status of your systems: their availability, the quality of your
        website configuration...</p></div>
    <div class="dashboardBox">
        <a href="/infra-testing/http-test/">
            <div class="dashboardBoxPreview">
                HTTP Test
            </div>
            <div class="dashboardBoxDescription">
                Perform scans for your website. You will get a score depending on your website's configuration,
                which allows you to see where you need to make changes if need be.
            </div>
        </a>
         <a href="https://observatory.mozilla.org/"><b>Powered by Mozilla Observatory</b></a>
    </div>
    <!--<div class="dashboardBox">
        <a href="/infra-testing/whois-lookup/">
            <div class="dashboardBoxPreview">
                Whois lookup
            </div>
            <div class="dashboardBoxDescription">
                This tool performs a whois lookup, displaying a wide range of data regarding your domain. This type of
                lookup can be done to check configuration, availability of your domain, hosting company or ISP info.
            </div>
        </a>
    </div>-->
    <hr class="w-25 text-dark">
    <div class="dashboardSectionBox" id="dmarc-tools"><h1>Email Security Tools</h1></div>
    <div class="w-75"><p class="lead">These tools are built to give you an easy way of configuring DMARC for your emails.
        DMARC (Domain-based Message Authentication, Reporting and Conformance) allows people you send mails to
        to ascertain that you are the actual sender, thus protecting against identity usurpation.</p></div>
    <div class="dashboardBox">
        {% if user.maildomain_set.all %}
            <a href="/infra-testing/dmarc-generator/">
        {% else %}
            <a href="/settings/mail-domains/add/" next="/infra-testing/dmarc-generator/">
        {% endif %}
            <div class="dashboardBoxPreview">
                DMARC Record Generator
            </div>
            <div class="dashboardBoxDescription">
                This tool will take one of your registered mail domains and generate a DMARC
                entry that you can add in your DNS configuration.
                Then DMARC reports will be generated and sent to your personal report directory, in the section right
                below.
            </div>
        </a>
    </div>
    <div class="dashboardBox">
        {% if user.maildomain_set.all %}
            <a href="/infra-testing/dmarc-reporter/">
        {% else %}
            <a href="/settings/mail-domains/add/">
        {% endif %}
            <div class="dashboardBoxPreview">
                List DMARC Records
            </div>
            <div class="dashboardBoxDescription">
                Access the DMARC reports for your registered mail domains here.
            </div>
        </a>
    </div>
    <div class="w-75"><p class="lead">SPF (Sender Policy Framework) is, like DMARC, a system of email validation,
        which allows you to publish a list of mail servers that are allowed to send emails in your name. It is best used
        in parallel with DMARC.</p></div>
    <div class="dashboardBox">
        {% if user.maildomain_set.all %}
            <a href="/infra-testing/spf-generator/">
        {% else %}
            <a href="/settings/mail-domains/add/">
        {% endif %}
            <div class="dashboardBoxPreview">
                SPF Record Generator
            </div>
            <div class="dashboardBoxDescription">
                This tool will take one of your registered mail domains and generate a DMARC
                entry that you can add in your DNS configuration.
                Then DMARC reports will be generated and sent to your personal report directory, right below this menu.
            </div>
        </a>
    </div>
    <hr class="w-25 text-dark">
    <div class="dashboardSectionBox" id="dmarc-tools"><h1>Automation</h1></div>
    <div class="dashboardBox">
        {% if user.tier_level %}
            <a href="/infra-testing/automation/">
        {% else %}
            <a href="/subscriptions">
        {% endif %}
            <div class="dashboardBoxPreview">
                Automated tests
            </div>
            <div class="dashboardBoxDescription">
                <b>Subscription required</b><br>
                These tests are made to provide you with light monitoring capabilities over your systems.
                After registering your owned domains in your profile, you can setup a number of automated tests,
                like ping checks to monitor availability and reachability, http headers tests to grade your website
                / check if it is compromised, and more.
            </div>
        </a>
    </div>
</section>

{% endblock %}