<button class="btn btn-light w-50 collapsible">HTTP Results</button>
<section class="result-content authForm p-5">
    <h2>Result for {{ domain_name }}:</h2>
    <hr>
    <div id="scan-summary" class="d-flex flex-column">
        <div id="gradeBox" class="bg-light text-dark">
            <span>{{ scan_summary.grade }}</span>
        </div>
        <span>Start time:  {{ scan_summary.start_time }}</span>
        <span>End time:  {{ scan_summary.end_time }}</span>
        <span>Score:  {{ scan_summary.score }}</span>
        <span>Tests made:  {{ scan_summary.tests_passed }} [Passed] / {{ scan_summary.tests_quantity }} [Total]</span>
    </div>
    <hr>
    <div class="">
        <h3>Tests:</h3>
        <table class="table table-light table-striped table-responsive">
            <tr>
                <th>Test</th>
                <th>Pass</th>
                <th>Reason</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>Content Security Policy</td>
                <td>{% if result.content_security_policy.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.content_security_policy.score_description }}</code></td>
                <td>{{ result.content_security_policy.score_modifier }}</td>
            </tr>
            <tr>
                <td>Cookies</td>
                <td>{% if result.cookies.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.cookies.score_description }}</code></td>
                <td>{{ result.cookies.score_modifier }}</td>
            </tr>
            <tr>
                <td>Cross-origin Resource Sharing</td>
                <td>{% if result.cross_origin_resource_sharing.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.cross_origin_resource_sharing.score_description }}</code></td>
                <td>{{ result.cross_origin_resource_sharing.score_modifier }}</td>
            </tr>
            <tr>
                <td>HTTP Public Key Pinning</td>
                <td>{% if result.public_key_pinning.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.public_key_pinning.score_description }}</code></td>
                <td>{{ result.public_key_pinning.score_modifier }}</td>
            </tr>
            <tr>
                <td>Redirection</td>
                <td>{% if result.redirection.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.redirection.score_description }}</code></td>
                <td>{{ result.redirection.score_modifier }}</td>
            </tr>
            <tr>
                <td>Referrer Policy</td>
                <td>{% if result.referrer_policy.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.referrer_policy.score_description }}</code></td>
                <td>{{ result.referrer_policy.score_modifier }}</td>
            </tr>
            <tr>
                <td>HTTP Strict Transport Security</td>
                <td>{% if result.strict_transport_security.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.strict_transport_security.score_description }}</code></td>
                <td>{{ result.strict_transport_security.score_modifier }}</td>
            </tr>
            <tr>
                <td>Subresource Integrity</td>
                <td>{% if result.subresource_integrity.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.subresource_integrity.score_description }}</code></td>
                <td>{{ result.subresource_integrity.score_modifier }}</td>
            </tr>
            <tr>
                <td>X-Content-Type-Options</td>
                <td>{% if result.x_content_type_options.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.x_content_type_options.score_description }}</code></td>
                <td>{{ result.x_content_type_options.score_modifier }}</td>
            </tr>
            <tr>
                <td>X-Frame-Options</td>
                <td>{% if result.x_frame_options.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.x_frame_options.score_description }}</code></td>
                <td>{{ result.x_frame_options.score_modifier }}</td>
            </tr>
            <tr>
                <td>X-XSS-Protection</td>
                <td>{% if result.x_xss_protection.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.x_xss_protection.score_description }}</code></td>
                <td>{{ result.x_xss_protection.score_modifier }}</td>
            </tr>
        </table>
    </div>
    <h3>Server Headers</h3>
    <table class="table table-light table-bordered table-striped">
        <tr>
            <th>Header</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Accept-Ranges</td>
            <td>{{ headers.Accept_Ranges }}</td>
        </tr>
        <tr>
            <td>Connection</td>
            <td>{{ headers.Connection }}</td>
        </tr>
        <tr>
            <td>Content-Encoding</td>
            <td>{{ headers.Content_Encoding }}</td>
        </tr>
        <tr>
            <td>Content-Length</td>
            <td>{{ headers.Content_Length}}</td>
        </tr>
        <tr>
            <td>Content-Security-Policy</td>
            <td>{{ headers.Content_Security_Policy}}</td>
        </tr>
        <tr>
            <td>Content-Type</td>
            <td>{{ headers.Content_Type}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ headers.Date}}</td>
        </tr>
        <tr>
            <td>ETag</td>
            <td>{{ headers.ETag}}</td>
        </tr>
        <tr>
            <td>Keep-Alive</td>
            <td>{{ headers.Keep_Alive}}</td>
        </tr>
        <tr>
            <td>Last-Modified</td>
            <td>{{ headers.Last_Modified}}</td>
        </tr>
        <tr>
            <td>Permissions-Policy</td>
            <td>{{ headers.Permissions_Policy}}</td>
        </tr>
        <tr>
            <td>Referrer-Policy</td>
            <td>{{ headers.Referrer_Policy}}</td>
        </tr>
        <tr>
            <td>Server</td>
            <td>{{ headers.Server}}</td>
        </tr>
        <tr>
            <td>Strict-Transport-Security</td>
            <td>{{ headers.Strict_Transport_Security}}</td>
        </tr>
        <tr>
            <td>Vary</td>
            <td>{{ headers.Vary}}</td>
        </tr>
        <tr>
            <td>X-Content-Type-Options</td>
            <td>{{ headers.X_Content_Type_Options}}</td>
        </tr>
    </table>
    <h3>Grade history</h3>
    <table class="table table-light table-bordered table-striped">
        <tr>
            <th>Date</th>
            <th>Score</th>
            <th>Grade</th>
        </tr>
        {%for v in scan_history%}
        <tr>
            <td>{{v.end_time}}</td>
            <td>{{v.score}}</td>
            <td>{{v.grade}}</td>
        </tr>
        {% endfor %}
    </table>
</section>
<button class="btn w-50 btn-light collapsible">TLS Results</button>
<section class="result-content authForm p-5">
    <h2>Result for {{ domain_name }}:</h2>
    <hr>
    {{ tls_results }}
</section>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
  content.style.display = "none";
} else {
    content.style.display = "block";
}
});
}

</script>
