<button class="btn btn-light w-50 collapsible">HTTP Results</button>
<section class="result-content authForm p-5">
    <h2>Result for {{ domain_name }}:</h2>
    <hr>
    <div id="scan-summary" class="d-flex flex-column">
        <div class="bg-light text-dark gradeBox">
            <span>{{ scan_summary.grade }}</span>
        </div>
        <span>Start time:  {{ scan_summary.start_time }}</span>
        <span>End time:  {{ scan_summary.end_time }}</span>
        <span>Score:  {{ scan_summary.score }}</span>
        <span>Tests made:  {{ scan_summary.tests_passed }} [Passed] / {{ scan_summary.tests_quantity }} [Total]</span>
    </div>
    <hr>
    <div class="">
        <h3>Tests:</h3>
        <table class="table table-light table-striped table-responsive">
            <tr>
                <th>Test</th>
                <th>Pass</th>
                <th>Reason</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>Content Security Policy</td>
                <td>{% if result.content_security_policy.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.content_security_policy.score_description }}</code></td>
                <td>{{ result.content_security_policy.score_modifier }}</td>
            </tr>
            <tr>
                <td>Cookies</td>
                <td>{% if result.cookies.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.cookies.score_description }}</code></td>
                <td>{{ result.cookies.score_modifier }}</td>
            </tr>
            <tr>
                <td>Cross-origin Resource Sharing</td>
                <td>{% if result.cross_origin_resource_sharing.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.cross_origin_resource_sharing.score_description }}</code></td>
                <td>{{ result.cross_origin_resource_sharing.score_modifier }}</td>
            </tr>
            <tr>
                <td>HTTP Public Key Pinning</td>
                <td>{% if result.public_key_pinning.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.public_key_pinning.score_description }}</code></td>
                <td>{{ result.public_key_pinning.score_modifier }}</td>
            </tr>
            <tr>
                <td>Redirection</td>
                <td>{% if result.redirection.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.redirection.score_description }}</code></td>
                <td>{{ result.redirection.score_modifier }}</td>
            </tr>
            <tr>
                <td>Referrer Policy</td>
                <td>{% if result.referrer_policy.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.referrer_policy.score_description }}</code></td>
                <td>{{ result.referrer_policy.score_modifier }}</td>
            </tr>
            <tr>
                <td>HTTP Strict Transport Security</td>
                <td>{% if result.strict_transport_security.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.strict_transport_security.score_description }}</code></td>
                <td>{{ result.strict_transport_security.score_modifier }}</td>
            </tr>
            <tr>
                <td>Subresource Integrity</td>
                <td>{% if result.subresource_integrity.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.subresource_integrity.score_description }}</code></td>
                <td>{{ result.subresource_integrity.score_modifier }}</td>
            </tr>
            <tr>
                <td>X-Content-Type-Options</td>
                <td>{% if result.x_content_type_options.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.x_content_type_options.score_description }}</code></td>
                <td>{{ result.x_content_type_options.score_modifier }}</td>
            </tr>
            <tr>
                <td>X-Frame-Options</td>
                <td>{% if result.x_frame_options.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.x_frame_options.score_description }}</code></td>
                <td>{{ result.x_frame_options.score_modifier }}</td>
            </tr>
            <tr>
                <td>X-XSS-Protection</td>
                <td>{% if result.x_xss_protection.pass %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    {% else %}
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    {% endif %}
                </td>
                <td><code>{{ result.x_xss_protection.score_description }}</code></td>
                <td>{{ result.x_xss_protection.score_modifier }}</td>
            </tr>
        </table>
    </div>
    <h3>Server Headers</h3>
    <table class="table table-light table-bordered table-striped">
        <tr>
            <th>Header</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Accept-Ranges</td>
            <td>{{ headers.Accept_Ranges }}</td>
        </tr>
        <tr>
            <td>Connection</td>
            <td>{{ headers.Connection }}</td>
        </tr>
        <tr>
            <td>Content-Encoding</td>
            <td>{{ headers.Content_Encoding }}</td>
        </tr>
        <tr>
            <td>Content-Length</td>
            <td>{{ headers.Content_Length}}</td>
        </tr>
        <tr>
            <td>Content-Security-Policy</td>
            <td>{{ headers.Content_Security_Policy}}</td>
        </tr>
        <tr>
            <td>Content-Type</td>
            <td>{{ headers.Content_Type}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ headers.Date}}</td>
        </tr>
        <tr>
            <td>ETag</td>
            <td>{{ headers.ETag}}</td>
        </tr>
        <tr>
            <td>Keep-Alive</td>
            <td>{{ headers.Keep_Alive}}</td>
        </tr>
        <tr>
            <td>Last-Modified</td>
            <td>{{ headers.Last_Modified}}</td>
        </tr>
        <tr>
            <td>Permissions-Policy</td>
            <td>{{ headers.Permissions_Policy}}</td>
        </tr>
        <tr>
            <td>Referrer-Policy</td>
            <td>{{ headers.Referrer_Policy}}</td>
        </tr>
        <tr>
            <td>Server</td>
            <td>{{ headers.Server}}</td>
        </tr>
        <tr>
            <td>Strict-Transport-Security</td>
            <td>{{ headers.Strict_Transport_Security}}</td>
        </tr>
        <tr>
            <td>Vary</td>
            <td>{{ headers.Vary}}</td>
        </tr>
        <tr>
            <td>X-Content-Type-Options</td>
            <td>{{ headers.X_Content_Type_Options}}</td>
        </tr>
    </table>
    <h3>Grade history</h3>
    <table class="table table-light table-bordered table-striped">
        <tr>
            <th>Date</th>
            <th>Score</th>
            <th>Grade</th>
        </tr>
        {%for v in scan_history%}
        <tr>
            <td>{{v.end_time}}</td>
            <td>{{v.score}}</td>
            <td>{{v.grade}}</td>
        </tr>
        {% endfor %}
    </table>
</section>
<button class="btn w-50 btn-light collapsible">TLS Results</button>
<section class="result-content authForm p-5">
    <h2>Result for {{ domain_name }}:</h2>
    <hr>
    <div id="tls-scan-summary" class="d-flex flex-column mb-4">
        <span>TLS Scan ID: {{ tls_results.id }}</span>
        <span>Timestamp: {{ tls_results.timestamp }}</span>
        <span>Target: {{ tls_results.target }}</span>
        <span>Replay: {{ tls_results.replay }}</span>
        <span>Has TLS: {% if tls_results.has_tls is True %}
                    <span class="badge bg-success">{{ tls_results.has_tls }}</span>
                    {% else %}
                    <span class="badge bg-danger">{{ tls_results.has_tls }}</span>
                    {% endif %}</span>
        <span>CERT ID: {{ tls_results.cert_id }}</span>
        <span>TRUST ID: {{ tls_results.trust_id }}</span>
        <span>Is valid: {% if tls_results.is_valid is True %}
                    <span class="badge bg-success">{{ tls_results.is_valid }}</span>
                    {% else %}
                    <span class="badge bg-danger">{{ tls_results.is_valid }}</span>
                    {% endif %}</span>
        <span>Completion perc: {{ tls_results.completion_perc }}</span>
        <span>Ack: {% if tls_results.ack is True %}
                    <span class="badge bg-success">{{ tls_results.ack }}</span>
                    {% else %}
                    <span class="badge bg-danger">{{ tls_results.ack }}</span>
                    {% endif %}</span>
        <span>Attempts: {{ tls_results.attempts }}</span>
    </div>
    <h3>Connection Info</h3>
    <table class="table table-light table-stripped">
        <tr>
            <th>Scan IP</th>
            <td>{{ tls_results.connection_info.scanIP }}</td>
        </tr>
        <tr>
            <th>Serverside</th>
            <td>{% if tls_results.connection_info.serverside is True %}
                <span class="badge bg-success">{{ tls_results.connection_info.serverside }}</span>
                {% else %}
                <span class="badge bg-danger">{{ tls_results.connection_info.serverside }}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Curves Fallback</th>
            <td>{% if tls_results.connection_info.curvesFallback is True %}
                <span class="badge bg-success">{{ tls_results.connection_info.curvesFallback }}</span>
                {% else %}
                <span class="badge bg-danger">{{ tls_results.connection_info.curvesFallback }}</span>
                {% endif %}
            </td>
        </tr>
        {% for v in tls_results.connection_info.ciphersuite %}
        <tr class="table-dark">
            <th>Row</th>
            <td></td>
        </tr>
        <tr>
            <th>Cipher</th>
            <td>{{ v.cipher }}</td>
        </tr>
        <tr>
            <th>Code</th>
            <td>{{ v.code }}</td>
        </tr>
        <tr>
            <th>Protocols</th>
            <td>{{ v.protocols }}</td>
        </tr>
        <tr>
            <th>Pubkey</th>
            <td>{{ v.pubkey }}</td>
        </tr>
        <tr>
            <th>Sigalg</th>
            <td>{{ v.sigalg }}</td>
        </tr>
        <tr>
            <th>Ticket Hint</th>
            <td>{{ v.ticket_hint }}</td>
        </tr>
        <tr>
            <th>OCSP Stapling</th>
            <td>
                {% if v.ocsp_stapling is True %}
                <span class="badge bg-success">{{ v.ocsp_stapling }}</span>
                {% else %}
                <span class="badge bg-danger">{{ v.ocsp_stapling }}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>PFS</th>
            <td>{{ v.pfs }}</td>
        </tr>
        <tr>
            <th>Curves</th>
            <td>{{ v.curves}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Analysis</h3>
    <table class="table table-light table-stripped">
        {% for v in tls_results.analysis %}

        <tr class="table-dark">
            <th>Row</th>
            <td></td>
        </tr>
        <tr>
            <th>ID</th>
            <td>{{ v.id }}</td>
        </tr>
        <tr>
            <th>Analyzer</th>
            <td>{{ v.analyzer}}</td>
        </tr>
        <tr>
            <th>Success</th>
            <td> {% if v.success is True %}
                <span class="badge bg-success">{{ v.success }}</span>
                {% else %}
                <span class="badge bg-danger">{{ v.success }}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Result:</th>
            <td></td>
        </tr>
        {% if v.result.bugs %}
        <tr>
            <th>Bugs:</th>
            <td>{{ v.result.bugs }}</td>
        </tr>
        {% endif %}
        {% if v.result.errors %}
        <tr>
            <th>Errors:</th>
            <td>{{ v.result.errors }}</td>
        </tr>
        {% endif %}
        {% if v.result.notices %}
        <tr>
            <th>Notices:</th>
            <td>{{ v.result.notices }}</td>
        </tr>
        {% endif %}
        {% if v.result.warnings %}
        <tr>
            <th>Warnings:</th>
            <td>{{ v.result.warnings }}</td>
        </tr>
        {% endif %}
        {% if v.result.fatalErrors %}
        <tr>
            <th>Fatal Errors:</th>
            <td>{{ v.result.fatalErrors }}</td>
        </tr>
        {% endif %}
        {% if v.result.informational %}
        <tr>
            <th>Informational:</th>
            <td>{{ v.result.informational }}</td>
        </tr>
        {% endif %}

        {% if v.result.host %}
        <tr>
            <th>Host:</th>
            <td>{{ v.result.host }}</td>
        </tr>
        {% endif %}
        {% if v.result.issue %}
        <tr>
            <th>Issue:</th>
            <td>{{ v.result.issue }}</td>
        </tr>
        {% endif %}
        {% if v.result.has_caa is True or v.result.has_caa is False %}
        <tr>
            <th>Has CAA:</th>
            <td>
                {% if v.result.has_caa is True %}
                <span class="badge bg-success">{{ v.result.has_caa }}</span>
                {% else %}
                <span class="badge bg-danger">{{ v.result.has_caa }}</span>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if v.result.issuewild %}
        <tr>
            <th>Issue Wild:</th>
            <td>{{ v.result.issuewild }}</td>
        </tr>
        {% endif %}
        {% if v.result.level %}
        <tr>
            <th>Level</th>
            <td>{{ v.result.level }}</td>
        </tr>
        {% endif %}
        {% if v.result.grade %}
        <tr>
            <th>Grade:</th>
            <td>{{ v.result.grade }}</td>
        </tr>
        {% endif %}
        {% if v.result.lettergrade %}
        <tr>
            <th>Lettergrade:</th>
            <td>{{ v.result.lettergrade }}</td>
        </tr>
        {% endif %}
        {% if v.result.failures %}
        <tr>
            <th>Failures:</th>
            <td></td>
        </tr>
        {% endif %}
        {% for k1, v1 in v.result.failures.items %}
        <tr>
            <th>{{ k1 }}</th>
            <td></td>
        </tr>
        {% for v2 in v1 %}
        <tr>
            <th></th>
            <td>{{ v2 }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        <!-- ANDROID ROWS SECTION -->

        {% for v10 in v.result %}

        {% if v10.name %}
        <tr class="table-dark">
            <th></th>
            <th>Subrow</th>
        </tr>
        <tr>
            <th>Name:</th>
            <td>{{ v10.name }}</td>
        </tr>
        {% endif %}
        {% if v10.version %}
        <tr>
            <th>Version:</th>
            <td>{{ v10.version }}</td>
        </tr>
        {% endif %}
        {% if v10.curve_code %}
        <tr>
            <th>Curve Code:</th>
            <td>{{ v10.curve_code }}</td>
        </tr>
        {% endif %}
        {% if v10.is_supported is True or v10.is_supported is False %}
        <tr>
            <th>Is supported:</th>
            <td>
                {% if v10.is_supported is True %}
                <span class="badge bg-success">{{ v10.is_supported }}</span>
                {% else %}
                <span class="badge bg-danger">{{ v10.is_supported }}</span>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if v10.protocol_code %}
        <tr>
            <th>Protocol Code:</th>
            <td>{{ v10.protocol_code }}</td>
        </tr>
        {% endif %}
        {% if v10.curve %}
        <tr>
            <th>Curve:</th>
            <td>{{ v10.curve }}</td>
        </tr>
        {% endif %}
        {% if v10.platform %}
        <tr>
            <th>Platform:</th>
            <td>{{ v10.platform }}</td>
        </tr>
        {% endif %}
        {% if v10.ciphersuite %}
        <tr>
            <th>Ciphersuite:</th>
            <td>{{ v10.ciphersuite }}</td>
        </tr>
        {% endif %}
         {% if v10.ciphersuite_code %}
        <tr>
            <th>Ciphersuite Code:</th>
            <td>{{ v10.ciphersuite_code }}</td>
        </tr>
        {% endif %}

        {% endfor %}

        <!-- SymantecDistrust -->
        {% if v.result.reasons %}
        <tr>
            <th>Reasons:</th>
            <td></td>
        </tr>
        {% for v3 in v.result.reasons%}
        <tr>
            <th></th>
            <td>{{ v3 }}</td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if v.result.isDistrusted is True or v.result.isDistrusted is False %}
        <tr>
            <th>Is Distrusted:</th>
            <td>
                {% if v.result.isDistrusted is True %}
                <span class="badge bg-success">{{ v.result.isDistrusted }}</span>
                {% else %}
                <span class="badge bg-danger">{{ v.result.isDistrusted }}</span>
                {% endif %}
            </td>
        </tr>
        {% endif %}


        <!-- TOP1M -->
        {% if v.result.target %}
        <tr>
            <th>Target:</th>
            <td></td>
        </tr>
        {% for k4,v4 in v.result.target.items %}
        <tr>
            <th>{{ k4 }}</th>
            <td>{{ v4 }}</td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if v.result.certificate %}
        <tr>
            <th>Certificate:</th>
            <td></td>
        </tr>
        {% for k5,v5 in v.result.certificate.items %}
        <tr>
            <th>{{ k5 }}</th>
            <td>{{ v5 }}</td>
        </tr>
        {% endfor %}
        {% endif %}

        {% endfor %}
    </table>
</section>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
  content.style.display = "none";
} else {
    content.style.display = "block";
}
});
}


























</script>
