{% extends "base.html" %}

{% block content %}
<main class="d-flex w-100 h-100 p-3 flex-column align-items-center">
    <h1 class="authForm p-5 d-flex justify-content-center">WHOIS Lookup</h1>
    <form action="" method="post" id="pingtest-form" class="authForm p-5">
        {% csrf_token %}
        <label for="ping-target">Target hostname:</label><br>
        <input type="text" id="ping-target" name="ping-target" value="{{ form }}"><br>
        <input type="submit" value="Ping" class="btn btn-primary">
    </form>
    {% if result %}
        {% include 'ping_report.html' %}
    {% endif %}
</main>
{% endblock %}