{% if alerts %}
  <section class="col-lg-11 col-md-12 row my-5 border border-2 rounded p-4">
    {% for alert in alerts %}
      <div class="row">
        <div class="col-lg-12 fs-1 fw-bold">
          {% if alert.risk == "High" %}
            <span class="background-icon mb-3" style="background-color: var(--redColor); font-size: 18px; vertical-align: middle">HIGH</span>
          {% elif alert.risk == "Medium" %}
            <span class="background-icon mb-3" style="background-color: var(--gradeBPlus); font-size: 18px; vertical-align: middle">MEDIUM</span>
          {% elif alert.risk == "Low" %}
            <span class="background-icon mb-3" style="background-color: var(--gradeB); font-size: 18px; vertical-align: middle">LOW</span>
          {% elif alert.risk == "Informational" %}
            <span class="background-icon mb-3" style="background-color: var(--grey); font-size: 18px; vertical-align: middle">INFO</span>
          {% endif %}
          {{ alert.alert }}
        </div>
        <h5>Description:</h5>
        <div class="col-lg-12 fs-4">
          {{ alert.description }}
        </div>
        <h5>Solution:</h5>
        <div class="col-lg-12 fs-4">
          {{ alert.solution }}
        </div>
        <br>
      </div>
    {% endfor %}
  </section>
{% endif %}
