{% extends "base.html" %}
{% load i18n static %}

{% block content %}

<main class="bg-light d-flex w-100 h-100 p-3 flex-column align-items-center text-center">
    <section class="container">
        <div class="p-5">
            <h1>Automated Testing</h1>
            <div class="p-5">
                <p class="lead">
                    This section offers a number of simple tests on web servers configuration.
                    The goal is to ensure your organisation is using the most up-to-date security standards and
                    limiting therefore its exposure to easy or automated exploitation.
                </p>
                {% if not user.tier_level %}
                    <div class="mb-5 p-5">
                        <p class="lead">
                            A subscription is required to perform automated tests on your systems.
                            Make sure you check out our subscription plans and select the one that is best suited to your needs!
                        </p>
                    </div>
                    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">
                        Check out our subscription offers
                    </a>
                {% else %}
            </div>
        </div>
    </section>
    <h3>My automated pings</h3>
    <section class="authForm p-5 mb-5">
        <p class="lead">
            <a href="ping/" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">
                Setup an automated ping
            </a>
        </p>
        <div class="d-flex">
            {% if ping_list %}
                <table class="table table-light table-bordered table-striped">
                    <tr>
                        <th>Target</th>
                        <th>Next run</th>
                        <th>Result</th>
                        <th></th>
                    </tr>
                {% for scheduled_ping, target, last_run in ping_list %}
                    <tr>
                        <td>{{ target.domain }}</td>
                        <td>{{ scheduled_ping.next_run }}</td>
                        {% if last_run %}
                            {% if last_run.result == 0 %}
                                <td><i class="bi bi-check-circle-fill"></i></td>
                            {% else %}
                                <td><i class="bi bi-x-circle-fill"></i></td>
                            {% endif %}
                        {% else %}
                            <td>No results</td>
                        {% endif %}
                        <td><a href="ping/{{ target.domain }}/remove">Remove</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No request registered</p>
            {% endif %}
        </div>
    </section>
    <h3>My automated whois lookups</h3>
    <section class="authForm p-5 mb-5">
        <p class="lead">
            <a href="whois/" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">
                Setup an automated whois lookup
            </a>
        </p>
        <div class="d-flex">
            {% if whois_list %}
                <table class="table table-light table-bordered table-striped">
                    <tr>
                        <th>Target</th>
                        <th>Next run</th>
                        <th>Result</th>
                        <th>Report</th>
                        <th></th>
                    </tr>
                {% for scheduled_whois, target, last_run in whois_list %}
                    <tr>
                        <td>{{ target.domain }}</td>
                        <td>{{ scheduled_whois.next_run }}</td>
                        {% if last_run %}
                            {% if last_run.result.code == 0 %}
                                <td><i class="bi bi-check-circle-fill"></i></td>
                                <td><a href="whois/{{ target.domain }}">View full report</a></td>
                            {% else %}
                                <td><i class="bi bi-x-circle-fill"></i></td>
                                <td>{{ last_run.result.result }}</td>
                            {% endif %}
                        {% else %}
                            <td><i class="bi-question-circle-fill"></i></td>
                            <td>No report available</td>
                        {% endif %}
                        <td><a href="whois/{{ target.domain }}/remove">Remove</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No request registered</p>
            {% endif %}
        </div>
    </section>
    <h3>My automated http tests</h3>
    <section class="authForm p-5 mb-5">
        <p class="lead">
            <a href="http/" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">
                Setup an automated http header test
            </a>
        </p>
        <div class="d-flex">
            {% if http_list %}
                <table class="table table-light table-bordered">
                    <tr>
                        <th>Target</th>
                        <th>Next run</th>
                        <th>Result</th>
                        <th>Report</th>
                        <th></th>
                    </tr>
                {% for scheduled_http, target, last_run in http_list %}
                    <tr>
                        <td>{{ target.domain }}</td>
                        <td>{{ scheduled_http.next_run }}</td>
                        {% if last_run %}
                            <td>{{ last_run.result.scan_summary.grade }}</td>
                            <td><a href="http/{{ target.domain }}">View full report</a></td>
                        {% else %}
                            <td>No results</td>
                            <td></td>
                        {% endif %}
                        <td><a href="http/{{ target.domain }}/remove">Remove</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No request registered</p>
            {% endif %}
        </div>
    </section>
    {% endif %}

</main>

{% endblock %}