{% extends "base.html" %}
{% load i18n static %}

{% block content %}

<main class="bg-light d-flex w-100 h-100 p-3 flex-column align-items-center text-center">
    <section class="container">
        <div class="p-5">
            <h1>IoT Inspector</h1>
            <div class="p-5">
                <p class="lead mb-5">
                    In order to design proper security controls adapted to your specific environment, you need to know
                    what are the intrinsic vulnerabilities of the IoT devices you are using. To do so, we have
                    partnered with IoT Inspector GmbH whose solution is particularly advanced and comprehensive,
                    and generates detailed firmware analysis reports.
                </p>
                <hr class="mb-5">
                <p class="lead mb-5">
                    Here you can upload firmware images from your IoT devices to have them analyzed and receive a
                    detailed report of the found vulnerabilities, compliance with major IoT standards, and more.
                </p>
                <hr class="mb-5">
                <p>
                    This service is pay-per-firmware-upload, priced at <b>395€</b> for the analysis and billed directly
                    by the c3.<br>
                    <b>**Special Offer**</b> for the launch of the testing platform : During the first month of
                    operation, the first test will be <b>free.</b><br> Following tests will be at a discount price of
                    <b>200€</b> per test until the 31st of January 2022.
                </p>
            </div>
            <p class="lead">
                <a href="request/" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-white">
                    Request Firmware Analysis
                </a>
            </p>
        </div>
    </section>
    <section class="authForm p-5">
        <h3>My ongoing requests</h3>
        <div class="d-flex">
            {% if requests %}
                <table class="table table-light table-striped">
                    <tr>
                        <th>Request number</th>
                        <th>Request name</th>
                        <th>Request status</th>
                        <th>Report status</th>
                        <th>Report</th>
                    </tr>
                {% for request, status in requests %}
                    <tr>
                        <td>{{ request }}</td>
                        <td>{{ request.name }}</td>
                        <td>{{ request.status_field }}</td>
                        <td>{{ status }}</td>
                        {% if request.report_link %}
                            {% if status == 'Finished' %}
                                <td><a href="{{ request.firmware_uuid }}/download/" download>Get report</a></td>
                            {% else %}
                                <td>Report is generating</td>
                            {% endif %}
                        {% else %}
                            <td>No report available</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <span>No request registered</span>
            {% endif %}
        </div>
    </section>

</main>

{% endblock %}