{% extends "base.html" %}
{% load static %}

{% block content %}
<main
  class="bg-light d-flex p-3 flex-column align-items-center text-center">
  <h1><span style="font-weight: bold;color: #28abe2">NC</span><span
    style="font-weight: bold;color:#ec1e27;">3</span> Knowledge Base</h1>
  <p class="lead"></p>
</main>


<div class="container-fluid my-5">
  <h2 class="bg-light d-flex p-3 flex-column align-items-center text-center">Tests</h2>
  <div class="row justify-content-left">
    <div class="col-lg col-md mb-2">
      <h3>Website</h3>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg col-md-3 mb-2">
      <h3>Email</h3>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg col-md mb-2">
      <h3>File testing</h3>
      The file testing module is relying on the
      <a href="https://github.com/pandora-analysis">Pandora Analysis framework</a>.
    </div>
  </div>


  <h2 class="bg-light d-flex p-3 flex-column align-items-center text-center">Standards</h2>
  <div class="row justify-content-left">
    <div class="col-lg-3 col-md mb-2">
      <h3>SPF</h3>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg-3 col-md mb-2">
      <h3>DMARC DNS records</h3>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg-3 col-md mb-2">
      <h3>DNSSEC</h3>
    </div>
  </div>
</div>


{% endblock %}
