{% extends "base.html" %}
{% load static %}

{% block content %}
<main
  class="bg-light d-flex p-3 flex-column align-items-center text-center">
  <h1><span style="font-weight: bold;color: #28abe2">NC</span><span
    style="font-weight: bold;color:#ec1e27;">3</span> Knowledge base</h1>
  <p class="lead"></p>
</main>


<div class="container-fluid my-5">
  <h2 class="bg-light d-flex p-3 flex-column align-items-center text-center">Tests</h2>
  <div class="row justify-content-left">
    <div class="col-lg col-md mb">
      <h3 id="tests-website">Website</h3>
      After entering a website's domain name, we will test whether the website supports various
      modern Internet standards such as:
      <ul>
        <li>Content Security Policy (<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP"  target="_blank" rel="noopener noreferrer">CSP</a>) header</li>
        <li>Cross-Origin Resource Sharing (<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS"  target="_blank" rel="noopener noreferrer">CORS</a>)</li>
        <li>HTTP Strict Transport Security (<a href="https://developer.mozilla.org/en-US/docs/Glossary/HSTS"  target="_blank" rel="noopener noreferrer">HSTS</a>) header implementation</li>
      </ul>
      <p id="tests-ipv6">This platform is providing a tool in order to verify the reachability
      of your server from a modern internet address (IPv6).</p>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg col-md mb">
      <h3 id="tests-email">Email</h3>
      Our suite of tools is able to verify a series of standards concerning
      the proper implementation of an email server.
      <ul>
        <li>Parses and validates MX, SPF, and DMARC records</li>
        <li>Checks for <a href="https://datatracker.ietf.org/doc/rfc9364/" target="_blank" rel="noopener noreferrer">DNSSEC</a> deployment</li>
        <li>Lists name servers</li>
        <li>Checks for STARTTLS and TLS support on each mail server</li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg col-md mb-2">
      <h3 id="tests-file">File testing</h3>
      The file testing module is relying on the
      <a href="https://github.com/pandora-analysis" target="_blank" rel="noopener noreferrer">Pandora Analysis framework</a>.
      Notable engines involved during the analysis are:
      <ul>
        <li>VirusTotal</li>
        <li>Yara</li>
        <li>ClamAV</li>
        <li>msodde, a script to parse MS Office documents</li>
      </ul>
      More information on the <a href="https://github.com/pandora-analysis" target="_blank" rel="noopener noreferrer">official Pandora page</a>.
    </div>
  </div>


  <h2 class="bg-light d-flex p-3 flex-column align-items-center text-center">Standards</h2>
  <div class="row justify-content-left">
    <div class="col-lg col-md mb">
      <h3 id="standards-https">HTTPS</h3>
      <p><a href="https://developer.mozilla.org/en-US/docs/Glossary/HTTPS" target="_blank" rel="noopener noreferrer">HTTPS</a>
        (HyperText Transfer Protocol Secure) is an encrypted version of the HTTP protocol.
        It uses SSL or TLS to encrypt all communication between a client and a server.</p>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg col-md mb">
      <h3 id="standards-hsts">HSTS</h3>
      <p><a href="https://developer.mozilla.org/en-US/docs/Glossary/HSTS" target="_blank" rel="noopener noreferrer">HTTP Strict Transport Security</a>
        lets a website inform the browser that it should never load the site using HTTP and
        should automatically convert all attempts to access the site using HTTP to HTTPS
        requests instead. It consists in one HTTP header, Strict-Transport-Security, sent by the server with the resource.</p>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg col-md mb">
      <h3 id="standards-dmarc">DMARC and SPF</h3>
      <p>DMARC and SPF are protections against email phishing.
      <p>DMARC record is a TXT record that contains instructions for how an email server should
        handle an email that fails authentication. Using DMARC records, you can control if email
        receivers should reject, quarantine, or do nothing with a suspicious email.</p>
      <p>The Sender Policy Framework (SPF) is an email authentication method designed to detect
        forging sender addresses during the delivery of an email.</p>
  </div>

  <div class="row justify-content-left">
    <div class="col-lg col-md mb">
      <h3 id="standards-dnssec">Domain signature (DNSSEC)</h3>
      <p>The Domain Name System Security Extensions
        are a suite of extension specifications by the Internet Engineering Task Force (IETF)
        for securing data exchanged in the Domain Name System (DNS).</p>
    </div>
  </div>
</div>


{% endblock %}
