{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}
{% block content %}

<section class="mt-5 mb-5 container">

    <h2>PRIVACY STATEMENT</h2>

    <p>
        The Luxembourg House of Cybersecurity (hereinafter referred to as LHC)
        collects and processes personal data in accordance with the applicable data protection legislations such as, but
        not
        limited to, Regulation (EU) 2016/679 on the protection of natural persons with regards to the processing of
        their
        personal data and the free movement of such data (“GDPR”) and the national law adopting GDPR.</p>
    <p> It may occur that we change or amend our Privacy Policy in order to ensure that its content accurately reflects
        regulatory developments. Any such modification, if substantial, will be clearly communicated to you, either via
        the
        website or via other appropriate means. The latest applicable version will be available on our website.</p>
    <p> Should you have any questions or remarks regarding this Privacy Policy, do not hesitate to contact us at
        privacy@securitymadein.lu
    </p>

    <h2>PROCESSING OF PERSONAL DATA</h2>

    <p>By “personal data” we understand any information that can identify you, both directly and indirectly.</p>

    <p>By “processing” we refer to anything we do with such personal data, including collection, recording,
        organization,
        structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission,
        dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction.</p>

    <p>By “data controller” we understand the person responsible for the processing of your personal data, this is the
        entity which determines the means and purpose of the processing activities.</p>

    <p>For our Testing Platform website and all related services, the data controller is:</p>

    <p>Luxembourg House of Cybersecurity g.i.e., 122 rue Adolphe Fischer, L-1521 Luxembourg<br>
        Tel: (+352) 274 00 98 601<br>
        Email: privacy@securitymadein.lu</p>

    <h2>WHAT PERSONAL DATA DO WE COLLECT ON OUR WEBSITE AND TO WHICH END?</h2>

    <p>When you are surfing our Testing Platform website, we collect and process web server logs, including IP
        addresses,
        user-agents, URLs, date and time logs. We collect those logs for our legitimate interest as these logs enable
        the
        technical and functional management of our website.</p>

    <p>When you register to the Testing Platform, we process and collect certain personal data. The types of personal
        information that are collected from you include: name and family name of the contact person, username and
        password,
        email address as well as the company name and full.</p>

    <p>When you contact us by mail, we process your contact information and any other details you provide us. We will
        use
        these details, if provided, for further case management around the issue resolution.</p>

    <p>Your personal data is collected for registration, billing and troubleshooting purposes.</p>


    <p>We confirm that we process your personal data in a fair and lawful manner and only for the explicit and
        legitimate
        purposes as above-mentioned. At all times, we strive to ensure that your personal data is adequate, relevant and
        not
        excessive in relation to the purposes for which they are processed.</p>

    <p>In case you enter and use one of the websites that may be linked to this website, personal data will processed
        according to the privacy policies of these respective infrastructures.</p>

    <h2>DOES OUR WEBSITE USE COOKIES?</h2>

    <p>No, our website does not use any cookies or analytic components.</p>

    <h2>HOW LONG DO WE RETAIN YOUR PERSONAL DATA?</h2>

    <p>In no circumstances, we keep your personal data for a longer period than strictly necessary to fulfil the purpose
        for which it was collected. If you decide to delete your account, or LHC decides to delete your
        account after one year of inactivity on the Testing Platform, we inform you that your related personal data will
        be
        replaced in our Database with a string called "DELETED”. The data collected about servers that have been added
        by
        you as user will not be deleted as we might use them internally, however they will not be connected to you
        anymore,
        since your account gets anonymized.</p>

    <p>However, if requested by local and national law, certain personal data may be retained for a longer period. For
        instance, for accounting purposes, such as, but limited to, payment of the services fees, data will be retained
        for
        the time required by the national law and for no longer than ten years).</p>


    <h2>SHARING PERSONAL DATA</h2>

    <p>We formally confirm that we will not sell, rent or otherwise commercially transfer to or share with a third party
        any personal data.</p>

    <p>The data submitted will only be made available to LHC personnel for the above mentioned
        purposes.</p>

    <p>As our web server is hosted and managed in Luxembourg, your personal data is in no circumstances transferred to
        third countries outside the EU.</p>


    <h2>SECURITY OF YOUR PERSONAL DATA</h2>

    <p>We are striving to keep your personal data secure. To that end, we have adopted the appropriate legal,
        organizational and technical precautions to prevent any unauthorized access and use of your personal data. These
        measures include but are not limited to the encryption of all traffic between our website and your browser.
        YOUR RIGHTS AS A DATA SUBJECT</p>

    <p>At LHC we aim to be transparent, not only about how we process personal data about you, but also
        about
        your rights that are linked to such processing.</p>

    <p>In particular, you have the right to access your personal data, to obtain the updating, the adjustment and the
        erasure of the personal data and you can exercise the rights to restrict and to object the processing. You can
        exercise the rights provided by articles 15 and the following of the GDPR contacting the following email address
        <a href="mailto:privacy@securitymadein.lu">privacy@securitymadein.lu</a>.
        In order to avoid unlawful access to your personal data, we will request you to provide a proof of your
        identity. If
        you have any queries about this Privacy Notice or experiencing any other privacy issue, we are striving to
        promptly
        dealing with any privacy-related complaints.
        If you have a complaint related to the processing of your personal data by LHC, please contact
        us.</p>


</section>
{% endblock %}
