{% extends "base.html" %}

{% block title %}Terms of Services{% endblock %}
{% block content %}

<section class="mt-5 mb-5 container">

    <h1>Terms of Service</h1>
    <p>These terms govern use of the website <a href="https://testing.c3.lu">https://testing.c3.lu</a>. To use the
        website, you must agree to these terms with
        Luxembourg House of Cybersecurity (hereinafter referred to as LHC) the company that runs the website.
        LHC may offer other products and services, under different terms. These terms apply only to use of
        the
        website.</p>
    Skip to:
    <ul>
        <li><a href="#yourpermission">Your Permission to Use the Website</a></li>
        <li><a href="#conditions">Conditions for Use of the Website</a></li>
        <li><a href="#acceptableuse">Acceptable Use</a></li>
        <li><a href="#contentstandards">Content Standards</a></li>
        <li><a href="#youraccount">Your Account</a></li>
        <li><a href="#content">Your Content</a></li>
        <li><a href="#termination">Termination</a></li>
        <li><a href="#disputes">Disputes</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#changes">Changes</a></li>
    </ul>


    <h2 id="yourpermission">Your Permission to Use the Website</h2>

    <p>Subject to these terms, LHC gives you permission to use the website. You can't transfer it to
        anyone
        else. Others need to agree to these terms for themselves to use the website.</p>

    <h2 id="conditions">Conditions for Use of the Website</h2>
    Your permission to use the website is subject to the following conditions:
    <ol>
        <li>You must be at least thirteen years old.</li>
        <li>You may no longer use the website if LHC contacts you directly to say that you may not.</li>
        <li>You must use the website in accordance with Acceptable Use and Content Standards.</li>
    </ol>

    <h2 id="acceptableuse">Acceptable Use</h2>
    <ol>
        <li>You may not break the law using the website.</li>
        <li>You may not use or try to use another's account on the website without their specific permission.</li>
        <li>You may not buy, sell, or otherwise trade in user names or other unique identifiers on the website.</li>
        <li> You may not send advertisements, chain letters, or other solicitations through the website, or use the
            website to
            gather addresses for commercial mailing lists.
        </li>
        <li>You may not automate access to the website, or monitor the website, such as with a web crawler, browser
            plug-in
            or add-on, or other computer program that is not a web browser. You may crawl the website to index it for a
            publicly
            available search engine.
        </li>
        <li>You may not use the website to send e-mail to distribution lists, newsgroups, or group mail aliases.</li>
        <li>You may not falsely imply that you're affiliated with or endorsed by LHC.</li>
        <li>You may not hyperlink to images or other non-hypertext content on the website.</li>
        <li>You may not remove any marks showing proprietary ownership from materials you download from the website.
        </li>
        <li> You may not show any part of the website on other websites with
            &lt;iframe&gt;.
        </li>
        <li>You may not disable, avoid, or circumvent any security or access restrictions of the website.</li>
        <li>You may not strain infrastructure of the website with an unreasonable volume of requests, or requests
            designed to impose an unreasonable load on information systems underlying the website.
        </li>
        <li>You may not encourage or help anyone in violation of these terms.</li>
        <li>You may not impersonate others through the website.</li>
    </ol>

    <h2 id="contentstandards">Content Standards</h2>
    <ol>
        <li>You may not submit content to the website that is illegal, offensive, or otherwise harmful to others. This
            includes content that is harassing, inappropriate, or abusive.
        </li>
        <li>You may not submit content to the website that violates the law, infringes anyone's intellectual property
            rights, violates anyone's privacy, or breaches agreements you have with others.
        </li>
        <li>You may not submit content to the website containing malicious computer code, such as computer viruses or
            spyware.
        </li>
    </ol>

    <h2 id="youraccount">Your Account</h2>
    <p>You must create and log into an account to use some features of the website.</p>

    <p>For this purpose, you agree to:</p>
    <p>-Provide true, accurate, correct and complete information when required to register as a user of the Website
        (“Personal Information”; and notify immediately LHC of any change of Personal Information).</p>

    <p>You agree that you will not impersonate any other person or entity or use a false name or a name that you are
        not authorized to use, or disclose your password or username to any other person, or allow your password or user
        name to be used by any other person to access the Services. You will be responsible for use of the Website
        and/or Services via your username and so will be liable for breach by anyone to whom you provide the details. To
        create an account, you must provide some information about yourself. If you create an account, you agree to
        provide your first and last name, a valid e-mail address, your company or affiliation address.</p>

    <p>You may delete your account on the website at any time. The deletion means the permanent anonymization of all
        your account and personal data.
        Your personal data is processed according to Testing Platform Privacy Policy
        (<a href="https://testing.c3.lu/privacy">https://testing.c3.lu/privacy</a>)
        LHC reserves the right to decline any application from you to register as a user of the platform
        in their sole discretion.
        You agree to be responsible for all action taken using your account, whether authorized by you or not, until you
        either close your account or notify LHC that your account has been compromised. You agree to
        notify LHC immediately if you suspect your account has been compromised. You agree to select a
        secure password for your account, and keep it secret.
        LHC will at its own discretion decide to close your account on the website after one year on
        inactivity on the website. LHC will notify you immediately about this decision.</p>

    <h2 id="content">Your Content</h2>
    <p>Nothing in these terms gives LHC any ownership rights in intellectual property that you share with
        the website, such as your account information or other content you submit to the website. Nothing in these terms
        gives you any ownership rights in LHC's intellectual property, either.
        Between you and LHC, you remain solely responsible for content you submit to the website. You
        agree not to wrongly imply that the content you submit to the website is sponsored or approved by the company.
        These terms do not obligate LHC to store, maintain, or provide copies of content you submit.
        The content you submit to the website belongs to you, and you decide what permission to give others for it.
        However, by submitting content to this website, you agree to grant to LHC a non-exclusive,
        non-transferable, royalty-free, license to use your content for statistical and analysis purposes.
        When the content you submit is removed from the website, whether by you or by LHC,
        LHC's special license ends when the last copy disappears from SECURIITYMADEIN.LU's backups,
        caches, and other systems. Licenses related to statistical data you and is will continue/survive after your
        content is removed.</p>

    <h2 id="termination">Termination</h2>
    <p>Either you or LHC may end the agreement written out in these terms at any time. When our agreement
        ends, your permission to use the website also ends.
        The following provisions survive the end of our agreement: Your account, Your Content, Data Shared.</p>

    <h2 id="disputes">Disputes</h2>
    <p>Luxembourg law will govern any dispute, including any legal proceedings, related to these terms or your use of
        the website.</p>

    <h2 id="contact">Contact</h2>
    <p>You may notify LHC these terms, and send questions at testing@c3.lu. LHC may notify
        you under these terms using the e-mail address you provide for your account on the website, or by posting a
        message to the homepage of the website or your account page.</p>

    <h2 id="changes">Changes</h2>
    <p>LHC last updated these terms on June 2021, and may update these terms again. LHC
        will post all updates to the website.
        LHC may also announce updates with special messages or alerts on the website.</p>

</section>
{% endblock %}
