{% extends "base.html" %}

{% block content %}

<div id="notfound" class="min-vh-100 d-flex align-items-center justify-content-center">
  <div class="notfound text-center">
    <div class="notfound-404">
      <h1>404</h1>
    </div>
    <h2>We are sorry, Page not found!</h2>
    <br>
    <p>The page you are looking for might have been removed,<br>
      had its name changed, or is temporarily unavailable.</p>
    <a href="/" class="btn btn-primary">Back To Homepage</a>
  </div>
</div>


{% endblock %}
