<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testing Platform</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  {% block bootstrap5_extra_head %}{% endblock %}
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,600;1,400;1,500&display=swap"
        rel="stylesheet">
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

</head>

<body class="bg-light">

{% include 'nav.html' %}

{% bootstrap_messages %}

<div id="content" class="col-lg-11 container-fluid bg-white d-flex justify-content-center align-items-center">
  {% block content %}{% endblock %}
</div>


{% include 'footer.html' %}
</body>
</html>
