<footer class="mt-auto py-4 text-white-50">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="/privacy" class="nav-link px-2 text-muted">Privacy Policy</a></li>
    <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-center text-white">
    <small><b>A project of Luxembourg House of Cybersecurity.</b></small><br>
    <small><b>Operated and maintained by <span style="color: #28abe2">NC</span><span style="color:#ec1e27;">3</span></b></small>
  </p>
</footer>
