{% load static %}
<footer>
    <div class="container py-3">
        <div class="d-flex flex-column mb-3">
            <div class="col-lg-12">
                <img class="footer-img" src="{% static 'img/nc3_logo_tp.svg' %}" alt="logo testing platform">
            </div>
            <div class="col-lg-12 d-flex flex-wrap">
                <div class="me-3">
                    <a href="/observatory-bulletin/" class="text-decoration-none">Threat observatory</a>
                </div>
                <div class="me-3">
                    <a href="/market-intelligence-library/" class="text-decoration-none">Market Intelligence</a>
                </div>
                <div class="me-3">
                    <a href="/about-the-observatory/" class="text-decoration-none d-block">Presentation</a>
                    <a href="/our-methodology/" class="text-decoration-none d-block">Our Methodology</a>
                </div>
                <div>
                    <a href="/contact-us/" class="text-decoration-none">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3 border-top">
        <div class="d-flex justify-content-between">
            <div>
                <span>©LHC - All rights reserved.</span>
            </div>
            <div>
                <a href="/terms-conditions/" class="text-decoration-none me-2">Terms</a>
                <a href="/privacy-policy/" class="text-decoration-none">Privacy</a>
            </div>
        </div>
    </div>
</footer>
<!--
<footer class="mt-auto py-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="{% url 'knowledge_base'  %}" class="nav-link px-2 text-muted">Knowledge base</a></li>
    <li class="nav-item"><a href="{% url 'swagger-ui'  %}" class="nav-link px-2 text-muted">API documentation</a></li>
    <li class="nav-item"><a href="{% url 'privacy'  %}" class="nav-link px-2 text-muted">Privacy</a></li>
    <li class="nav-item"><a href="{% url 'contact'  %}" class="nav-link px-2 text-muted">Contact</a></li>
  </ul>
  <p class="text-center">
    <small><b>A project from the Luxembourg House of Cybersecurity.</b></small><br>
    <small>
      <b>Operated and maintained by
      <a href="https://www.nc3.lu" target="_blank" rel="noopener noreferrer">
        <span style="color: #28abe2">NC</span><span style="color:#ec1e27;">3</span>.
      </a>
      </b>
    </small>
  </p>
  <p class="text-center">
    <small><a href="{{ version_url }}" target="_blank" rel="noopener noreferrer">{{ app_version }}</a></small><br>
  </p>
</footer>
-->
