<footer class="mt-auto py-4 text-white-50">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="{% url 'knowledge_base'  %}" class="nav-link px-2 text-muted">Knowledge base</a></li>
    <li class="nav-item"><a href="{% url 'privacy'  %}" class="nav-link px-2 text-muted">Privacy</a></li>
    <li class="nav-item"><a href="{% url 'about'  %}" class="nav-link px-2 text-muted">About</a></li>
    <li class="nav-item"><a href="{% url 'contact'  %}" class="nav-link px-2 text-muted">Contact</a></li>
  </ul>
  <p class="text-center text-white">
    <small><b>A project from the Luxembourg House of Cybersecurity.</b></small><br>
    <small>
      <b>Operated and maintained by
      <a href="https://nc3.lu" target="_blank" rel="noopener noreferrer">
        <span style="color: #28abe2">NC</span><span style="color:#ec1e27;">3</span>.
      </a>
      </b>
    </small>
  </p>
  <p class="text-center">
    <small><a href="{{ version_url }}" target="_blank" rel="noopener noreferrer">{{ app_version }}</a></small><br>
  </p>
</footer>
