{% load static %}
<nav class="navbar navbar-light navbar-expand-xl">
  <div class="container-fluid d-flex flex-row justify-content-around">

    <a class="navbar-brand d-none d-lg-block" href="https://testing.nc3.lu/"><img
      src="{% static 'img/logo-nc3-web.png' %}" height="65px"> &nbsp;Testing
      Platform</a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
      <i class="fs-3 text-white bi bi-list"></i>
    </button>
    <div id="navbar" class="collapse navbar-collapse ">
      <ul class="navbar-nav d-flex ms-auto mb-2 mb-lg-0 navbar-dark">

        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          {% if user.is_authenticated %}
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="dropdown07"
             data-bs-toggle="dropdown"
             aria-expanded="false">Tools</a>

          <ul class="dropdown-menu" aria-labelledby="dropdown07">
            <li><h6 class="dropdown-header">System Checks</h6></li>
            <li><a class="dropdown-item" href="/infra-testing/http-test">HTTP Test</a>
            </li>
            <li><a class="dropdown-item" href="/infra-testing/email-test">E-Mail
              Test</a></li>
            <li><a class="dropdown-item" href="/infra-testing/infra-test">Infrastructure
              Test</a></li>
            <!--<li><a class="dropdown-item" href="/infra-testing/whois-lookup">WHOIS Lookup</a></li>-->
            <li class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Email Security Tools</h6></li>
            <li><a class="dropdown-item" href="/infra-testing/dmarc-generator">DMARC
              Generator</a></li>
            <li><a class="dropdown-item" href="/infra-testing/spf-generator">SPF
              Generator</a></li>
          </ul>
        </li>
          {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="dropdown08" data-bs-toggle="dropdown"
             aria-expanded="false">Testing Platform</a>

          <ul class="dropdown-menu" aria-labelledby="dropdown08">
            <li><a class="dropdown-item"
                                    href="https://nc3.lu/pages/services/testing-platform.html">About</a>
            </li>
             <li><a class="dropdown-item" href="{% url 'knowledge_base'  %}">Knowledge
              base</a></li>
          </ul>
        </li>

        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
        {% endif %}
          {% if user.is_authenticated %}
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="dropdown19"
             data-bs-toggle="dropdown"
             aria-expanded="false">Hello, {{ user.username }}</a>

          <ul class="dropdown-menu" aria-labelledby="dropdown19">
            <li><a class="dropdown-item" href="/settings">Settings</a>
            </li>
            <!--<li><a class="dropdown-item" href="/infra-testing/whois-lookup">WHOIS Lookup</a></li>-->
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout/">Logout</a></li>
          </ul>
        </li>
          {% endif %}
        {% else %}
        <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
